[2014-06-17 09:05] francesco-romano opened #1 "Missing files"
This is related to https://github.com/robotology/codyco/commit/edce483edca9831b85f8430fb64b06959f9dbb25#

A lot of files are missing in the `controller` folder, and some of them are required in order for the controllers to work (e.g. initSharedMem.m)

[2014-06-17 09:13] andreadelprete opened #2 "OS X 10.9 - Compilation error"
I'm experiencing a problem when trying to run any simulink controller using the WBI-Toolbox. I installed CoDyCo-superbuild on Mac OS X 10.9 and I'm using Matlab 2013a. When I try to run (e.g.) ```controllerWithHandControl.slx``` (located in the folder ```torqueBalancing```) I get the following error:
[code]
With the help of @francesco-romano I tried to solve it by modifying the Matlab's configurat

[2014-06-23 07:24] traversaro opened #3 "Matlab 2013b not supported in FindMatlab.cmake"
Apparently Matlab 2013b is not found by the [FindMatlab.cmake](https://github.com/robotology-playground/WBI-Toolbox/blob/master/libraries/cmake/FindMatlab.cmake) script.

cc @jeljaik

Originally reported by @hu-yue .

[2014-06-23 16:27] #3 closed, assigned to nobody

[2014-06-23 16:39] andreadelprete opened #4 "Error by S-function 'robotState' in Joint Angles: [mdlStart] in robotConfig"
Hi, when running the simulink model "controllerWithHandControl" located in "torqueBalancing" I get the following error:

[code]

I'm using Matlab 2013a on Mac OS X 10.9, iCubGazeboSim is running using gazebo3. Any idea what the problem is about?

[2014-06-23 19:19] #4 closed, assigned to nobody

[2014-06-23 19:21] jeljaik opened #5 "README.md files for currently working controllers."
The controllers that we know are working with both the simulator and real platform should have their corresponding README files with instructions on how to start the simulation.

[2014-06-24 09:21] jeljaik opened #6 "Definition of world reference frame"
Currently the WBI Toolbox assumes a fixed world reference frame on the left foot as the one depicted in the following image:

![forwardkinematics](https://cloud.githubusercontent.com/assets/5030039/3369328/a29d4128-fb7f-11e3-86b2-95eb88c0e0f8.png)

Some flexibility should be given as to where we want to locate this world reference frame, e.g. on the right foot instead. A feasible and easy option i

[2014-06-25 16:59] hu-yue opened #7 "CODYCO_SUPERBUILD_DIR variable in README"
Hi, while following the instructions, I noticed that in README there is written that CODYCO_SUPERBUILD_DIR  points to the /build folder, but then in the Installation section it is written:
addpath([getenv(CODYCO_SUPERBUILD_DIR)  /build/install/mex])
Which is then wrong, so it should be changed with either
addpath([getenv(CODYCO_SUPERBUILD_DIR)  /install/mex])
or
addpath([getenv(CODYCO_SUPERBUILD_R

[2014-06-25 18:46] #7 closed, assigned to nobody

[2014-06-27 22:45] jeljaik opened #8 "Parametric Jacobians"
Jacobian blocks CAN and SHOULD be parametric with respect to the link you want. The solution proposed is to have a new block whose mask includes a pop-up list with all the available links. These names should coincide with those defined in the URDF file of the robot.

[2014-06-27 22:46] jeljaik opened #9 "Parametric Forward Kinematics"
Forward kinematics blocks CAN and SHOULD be parametric with respect to the link you want. The solution proposed is to have a new block whose mask includes a pop-up list with all the available links. These names should coincide with those defined in the URDF file of the robot.

[2014-06-27 22:50] jeljaik opened #10 "Toolbox Mathworks Dependencies"
When checking the Mathworks dependencies of the WBI-Toolbox the following dependencies came out:
Matlab
Simulink
Simulink Coder
**DSP System Toolbox**

The latter is not desired as there are currently only two blocks mistakenly used from that Toolbox. The idea is to reduce dependencies as much as possible and future blocks should take this into account. The current suspects are the **Transpose** b

[2014-06-27 22:53] jeljaik opened #11 "Link Wrench Estimation"
Still pending for Version 0.2

[2014-06-27 22:55] jeljaik opened #12 "Remove as many warnings as possible!"

[2014-06-27 22:55] #6 closed, assigned to nobody

[2014-06-27 23:42] #10 closed, assigned to nobody

[2014-06-27 23:47] #8 closed, assigned to nobody

[2014-06-27 23:49] #9 closed, assigned to nobody

[2014-06-28 17:25] jeljaik opened #13 "Investigate setJointBoundMax error (warning?)"
When using the method `bool getJointLimits(double *qMin, double *qMax, int joint=-1)` from wholeBodyModel I get the following error message:
`setJointBoundMax error: input vector has size 0 while should have size 32`

However the method returns just fine. Investigate why I keep getting this message and whether it's an actual error or just a warning.

Mabye @traversaro can give me a hint.

[2014-06-29 12:39] jeljaik opened #14 "DEBUG Flag being passed when compiling WBI-Toolbox libraries even though the project is configured in Release mode"
This might be defined somewhere in the codyco-superbuild configuration.

[2014-06-30 20:29] jeljaik opened #15 "Parametric dJdq block"
Parametric dJdq blocks CAN and SHOULD be parametric with respect to the link you want. The solution proposed is to have a new block whose mask includes a pop-up list with all the available links. These names should coincide with those defined in the URDF file of the robot.

[2014-06-30 21:26] #15 closed, assigned to nobody

[2014-07-01 09:46] #14 closed, assigned to nobody

[2014-07-11 12:59] iron76 opened #16 "startup_wbitoolbox.m has reference to /home/daniele"
The last lines in the file startup_wbitoolbox.m should be removed. Moreover, there execution fails at usrpath(end)=[]; when usrpath is empty. Proper checks should be introduced.

[2014-07-11 13:43] #16 closed, assigned to jeljaik

[2014-07-23 17:36] traversaro opened #18 "Compilation/Installation Problems in OS X 10.9.2"
@lukapeternel had some issues in compiling the WBI-Toolbox:
- the first one was related to the inclusion of `<bits/basic_string.h>` (check pull request https://github.com/robotology-playground/WBI-Toolbox/pull/17 ).
- the second one is a labeled as an error by make, but eventually the compilation continued with no problems. During installation the make output was:

[code]

The compilation eventual

[2014-07-28 16:55] traversaro opened #19 "Document world/base orientation"
Thanks @jeljaik !

[2014-07-29 07:51] #19 closed, assigned to nobody

[2014-07-29 23:21] jeljaik opened #20 "yread check-box for blocking/non-blocking and time-stamp"
The yarp read simulink block should have two check-boxes in the mask: one to enable and disable the blocking read; the other to allow an additional output which contains the time stamp.

[2014-08-04 08:19] #1 closed, assigned to DanielePucci

[2014-09-23 21:41] iron76 opened #21 "local folders should be avoided"
In the startup_wbitoolbox.m script we should avoid using local path such as:
cd /home/jorhabib/Software/codyco-superbuild/build/install/mex;
...
addpath(genpath('/home/daniele/MATLAB'))
addpath(genpath('/home/daniele/src/codyco/build'))
addpath(genpath('/home/daniele/src/codyco/src/simulink'))

[2014-09-24 07:11] #21 closed, assigned to jeljaik

[2014-10-21 15:49] jeljaik opened #22 "[KOROIBOT] From November 10th to 14th - Modify WBI-Toolbox according to the new ID-System."
This is a test

[2014-10-21 15:55] jeljaik opened #23 "[KOROIBOT] October 23rd - Still a test"
Another zap test

[2014-10-21 16:04] jeljaik opened #24 "[KOROIBOT] October 25th 2014 - another test"

[2014-10-21 16:06] #24 closed, assigned to nobody

[2014-10-21 16:06] #22 closed, assigned to jeljaik

[2014-10-21 16:06] #23 closed, assigned to nobody

[2014-10-21 16:09] jeljaik opened #25 "[KOROIBOT] tomorrow at noon - Sending activities timeline."

[2014-10-21 16:45] #25 closed, assigned to nobody

[2014-10-27 10:15] jeljaik opened #26 "Robot DOF should be specified by the user somehow. I/O sizes of the different blocks should be defined accordingly."

[2014-10-30 14:35] traversaro opened #27 "Migrate to the new_wbi_ID system"
Main differences:
icubWholeBody\*  ---> yarpWholeBody*
wbi::LocalId ---------> wbi::wbiId

[2014-11-17 16:18] BlendingInfinite opened #28 "WBI-Toolbox compile doesent work"
Hello,
I have installed all requirements for WBI and set the environment variables correctly. But if I try to do this:
cd $CODYCO_SUPERBUILD_DIR
   cmake ../ -DCODYCO_USES_WBI_TOOLBOX:BOOL=YES -DCODYCO_USES_URDFDOM:BOOL=YES -DICUBWBI_USE_EXTERNAL_TORQUE_CONTROL:BOOL=NO

I get this messages:
 The following RUNTIME packages have not been found:
- Doxygen

-- The following OPTIONAL packages have not

[2014-11-18 17:00] francesco-romano opened #29 "Matlab 2014b support"
I noticed a strange issue on Matlab 2014b.

All the blocks are present in already-created models (no Bad Link), but the library is not present in the Simulink Library.

The error is

[code]

[2014-11-21 15:26] #28 closed, assigned to nobody

[2014-11-25 16:53] azadm opened #30 "Errors/problem in running a simple test"
I am having a problem running a simple test in simulink. I am using only the joint angles block to read the angles but I get this error in matlab:
Error reported by S-function 'robotState' in 'test1/Joint Angles/S-Function':
ERROR [mdlStart] in robotConfig.

and these messages come up in the terminal that matlab is running:

setJointBoundMin error: input vector has size 0 while should have size 32

[2014-11-26 11:09] #18 closed, assigned to nobody

[2014-11-27 23:40] jeljaik opened #31 "Block "Set Angles" has ref. speed set to 0."
As reported by @robertocalandra, the **"Set Angles"** block from the `wholeBodyActuators` interface was not working properly. The problem was the default reference speed set to zero. It has now been changed to 10.0 by default. If the user actually needs to decide what reference speed to use, this could be added as an additional parameter in the configuration file of the different robots. Changes h

[2014-12-01 16:30] hu-yue opened #32 "Error in LeftFootFwdKin, dimension mismatch"
Hi,
I am trying to use the toolbox with iCubHeidelberg01, and a problem of vector dimension occur with the LeftFootFwdKin, the required dimension seems to be 21 but the one in input is instead of 15:
[code]
[code]
This doesn't occur with the RightFootFwdKin neither with the LinkFwdKin.

There is also another issue that I noticed. The RightFootFwdKin gives as result a vector of all 0, which I think

[2014-12-01 20:22] MoritzN89 opened #33 "Error running controllers"
Hi,
I have tried to start e.g. the balancingControllerV2 in Simulink but got an assertion error because of jointLimites and this error message:
setJointBoundMin error: input vector has size 0 while should have size 32
so the controller doesent work and nothing happens in Gazebo.
I have updated everything and tried icub_fixed but the same error. I am using Matlab R2013a and Ubuntu 14.04 64 Bit.

I

[2014-12-02 14:36] francesco-romano opened #34 "Clean up installation process"
In my opinion we have to clean up a bit the installation process.
In particular we should move all the files that are needed to run the toolbox in the installation paths.
For example, these are the ones that I remember
- images
- `.mdl` of the library
- matlab script to setup paths

I thought about the `share` folder, but maybe someone more expert than me in the installation process have some bett

[2014-12-03 10:29] #30 closed, assigned to nobody

[2014-12-12 15:44] traversaro opened #35 "Create a wbi-toolbox specific ini configuration file"
So we can (eventually) get rid of the WBI-Toolbox specific stuff in `yarpWholeBodyInterface.ini` .

[2014-12-19 18:22] traversaro opened #37 "Problem in running WBI-Toolbox with Matlab 2014a"
Hi,
 I am using WBI-Toolbox v0.2 (new_wbi_ID) on Matlab 2014a and when I try to compile a model I get this error:
[code]

[2014-12-22 08:47] traversaro opened #38 "Provide a clear error if the lengths of wbi_id_list and ROBOT_DOF do not match"
It is a common error and currently the error that you get does not mention the real issue.

[2014-12-22 10:09] #31 closed, assigned to nobody

[2014-12-22 10:11] #29 closed, assigned to nobody

[2014-12-22 10:12] #20 closed, assigned to nobody

[2014-12-22 10:18] #34 closed, assigned to nobody

[2014-12-22 10:20] #27 closed, assigned to jeljaik

[2014-12-22 15:04] rbonghi opened #39 "Error when starting a simulation (mac with GUI)"
I have a Matlab 2013a on mac pc, but when I start Matlab on GUI I have this error:

[code]

[2014-12-22 16:00] #39 closed, assigned to nobody

[2014-12-22 16:45] traversaro opened #40 "Add an option to use a configuration file for yarpWholeBodyInterface different from the default"
Now the WBI-Toolbox is loading by default the `yarpWholeBodyInterface.ini` configuration file.
It would make sense to add the option to load also configuration file for the yarpWholeBodyInterface with a different name. In all the modules of the codyco-modules we use the `wbi_conf_file` option to specify the name of the configuration file for the yarpWholeBodyInterface.

cc @DanielePucci @francesco

[2014-12-23 09:41] traversaro opened #41 "Avoid setting control mode at each control loop iteration"
cc @francesco-romano

[2014-12-27 17:21] DanielePucci opened #42 "Better name for the "icub_fixed" option"
Can't we find a better name for this option? I find "fixed" a little misleading.

[2014-12-27 17:24] DanielePucci opened #43 "Better name for the "icub_fixed" option"
Can't we find a better name for this option? I find "fixed" a little misleading.

[2014-12-27 17:29] #43 closed, assigned to nobody

[2014-12-27 17:59] DanielePucci opened #44 "WBIToolbox loads the wrong configuration file"
I'm using the simulator Gazebo and though I set 'iCubGazeboSim' as ROBOT_NAME, it seems to me that the toolbox loads the configuration file for iCubGenova03

robotStatus::robotConfig >> Configuring...
||| configuring
||| no policy found
||| default config file specified as yarpWholeBodyInterface.ini
||| checking [/home/daniele/src/codyco-superbuild/main/WBIToolbox/controllers/torqueBalancingV2/yar

[2014-12-28 18:28] #44 closed, assigned to nobody

[2014-12-29 10:34] DanielePucci opened #45 "Does the toolbox load the .ini file?"
I'm using the toolbox with the following parameters:

ROBOT_NAME = 'icubGazeboSim';
setenv('YARP_ROBOT_NAME', ROBOT_NAME);
ROBOT_DOF = 25;
Ts = 0.01;

and the file codyco-superbuild/build/install/share/codyco/contexts/wbit/icubGazeboSim.ini is the following

robot         icubGazeboSim
local         simulink
headV         2
legsV         1
feetFT        true
uses_urdf     true
icub_fixed    false

[2014-12-29 14:24] DanielePucci opened #46 "Jacobians seem to have wrong sizes"
I'm using the toolbox to get the jacobians of left and right foot and the gravity g(q). The latter is a 31 dimensional vector, while the former have indeed 6 rows each, but only 10 columns.
![screenshot from 2014-12-29 15 19 23](https://cloud.githubusercontent.com/assets/5045846/5569309/8a08175e-8f6e-11e4-9468-3f6a69b72a82.png)
![screenshot from 2014-12-29 15 22 12](https://cloud.githubusercontent

[2014-12-29 21:42] #45 closed, assigned to nobody

[2014-12-29 22:40] DanielePucci opened #47 "Mass matrix seems to be ill-conditioned"
It seems to me that the mass matrix associated with

codyco-superbuild/build/install/share/codyco/robots/icubGazeboSim/model.urdf

is not invertible.
![screenshot from 2014-12-29 23 34 38](https://cloud.githubusercontent.com/assets/5045846/5573881/d1f44584-8fb3-11e4-8700-257382ad59fb.png)
![screenshot from 2014-12-29 23 35 09](https://cloud.githubusercontent.com/assets/5045846/5573882/d1fa2d00-8fb

[2014-12-30 10:33] #46 closed, assigned to jeljaik

[2014-12-30 11:02] DanielePucci opened #48 "Jacobians seem to be wrong at WBIToolbox level, but not at C++ level"
When I plot the jacobians of left and right foot, I expect a 3x3 identity matrix at top-left. As a consequence, the first three rows of the jacobians should not be identically zero. Instead, I get the following
![screenshot from 2014-12-30 11 53 17](https://cloud.githubusercontent.com/assets/5045846/5577849/8302fc56-901a-11e4-8914-3c0c08bd94d1.png)
![screenshot from 2014-12-30 11 53 33](https://cl

[2015-01-01 15:52] DanielePucci commented on #48
The shape seems correct, but it is difficult to check the numbers. What was the value of icub_fixed? If it was false, you should get similar results I got (see the picture above).

[2015-01-08 15:39] robertocalandra opened #49 "WBI not compiling"
When compiling the codyco-superbuild (pulled today 08/01/15 at 16.00 ) the WBIToolbox fail to find a Matlab installation and therefore terminate with error.

The version of matlab installed on the system in 2012a.

This is the relevant error:

[ 67%] Skipping update step for 'WBIToolbox'
[ 69%] Performing configure step for 'WBIToolbox'
Not searching for unused variables given on the command line.

[2015-01-08 16:25] traversaro commented on #49
In which directory Matlab is installed? The CMake FindMatlab.cmake file searches on a handful of directories in which Matlab is usually installed (see https://github.com/robotology-playground/WBI-Toolbox/blob/master/libraries/cmake/FindMatlab.cmake#L114 ). If you installed Matlab in an unusual directory, you can point CMake to that directory by setting the MATLAB_DIR enviromental variable to the d

[2015-01-08 17:40] robertocalandra commented on #49
Thank you Silvio, that solved the problem.
I am closing the issue.

[2015-01-08 17:40] #49 closed

[2015-01-08 19:31] jeljaik commented on #49
I will highlight the part of the instructions in which this is described.
Probably it's not that visible.

On Thu, Jan 8, 2015, 18:40 Roberto Calandra <notifications@github.com>
wrote:

[2015-01-13 15:39] traversaro commented on #48
We fixed this @jeljaik @francesco-romano  ?

[2015-01-14 14:46] robertocalandra opened #50 "ERROR [mdlOutput] Joint limits could not be computed"
When trying to use the WBI on iCubDarmstadt01 I am get the following error:

Error reported by S-function 'robotState' in 'iCub_000/Joint Angles/S-Function':
ERROR [mdlOutput] Joint limits could not be computed

I read the Issue 30, which seems related, but by following the thread I could still not find a solution that work for me. https://github.com/robotology-playground/WBI-Toolbox/issues/30

I

[2015-01-14 16:58] jeljaik commented on #50
- [ ] Modify documentation specifying `DICUBWBI_USE_EXTERNAL_TORQUE_CONTROL:BOOL=YES` when using the real robot.

[2015-01-14 17:11] jeljaik commented on #50
Solution:
- After checking that `YARP_DATA_DIRS` was set correctly, we just changed `robotName='iCubDarmstadt01'` instead of `icub` and that helped finding the right configuration file as shown next:

[code]

- After finding the correct configuration file for your robot the new ERROR regarding the  jointTorqueControl not being found was addressed in commit https://github.com/robotology-playground/

[2015-01-14 17:11] #50 closed

[2015-01-15 09:48] DanielePucci commented on #37
The problem still occurs when both files WBCLibrary.mdl and WBCLibrary.slx (i.e. the exported version and non, respectively) are present in build/install/share/WBI-Toolbox. The workaround is to remove the file WBCLibrary.slx from this directory.

[2015-01-15 16:59] robertocalandra opened #51 "Self-collision in position control"
When using position control ('set Angles'), there is no self-collision check (i.e., if improper angles are set, an arm might collide with the rest of the body ). Using the limits from 'Joint Limits' is not helpful either, since it is just the min/max limits of the joints.

If it doesn't exist yet, I think it would be very valuable to include for position control a self-collision check based on the

[2015-01-15 17:03] robertocalandra opened #52 "Joint Torques return 0"
Trying to read the joint torques, even during a movement, always return 0.
I tested by generating movements in both position and torque control, and neither works.

[2015-01-15 17:07] traversaro commented on #51
It would definitely be an helpful feature.. unfortunately at the moment the WBI-Toolbox position control is sending the joint position directly to the low level firmware position control.
Some kind of "collision avoidance" could be implemented using the [FCL library](https://github.com/flexible-collision-library/fcl). Code for using an URDF model in FCL is already contained in the MoveIt! library,

[2015-01-15 17:08] traversaro commented on #52
Are you running the wholeBodyDynamics module?

[2015-01-15 17:09] robertocalandra commented on #52
Separately on the yarpManager? No.
Is it required?

[2015-01-15 17:17] traversaro commented on #52
Yes, basically the wholeBodyDynamics module is required to estimated the joint torques, you should find it in the robotStartup application in your yarpManager.

For more information in the force control, please check http://wiki.icub.org/wiki/Force_Control . It is a bit outdated (we will update it soon) but it explains the concepts quite well.

[2015-01-15 17:49] robertocalandra commented on #52
Ok thank you. In that case, if i understand correctly when reading the Joint Torques block there is quite a bit of processing (e.g., estimation of external forces). Is it possible to directly access the low level readings from the joint torque sensors?

[2015-01-15 17:53] robertocalandra opened #53 "After using torque control the robot remains in torque control mode"
After using the torque control, the joint are unresponsive (also to restarting the robotInterface).
It took me a while to notice from the robotMotorGui that the joints were in hardware fault...
Would it make sense to automatically switch back to position control at the end of the execution?

[2015-01-15 17:56] robertocalandra opened #54 "Hand moving spontaneously"
I am not sure if this ticket is depending from the WBI-toolbox or not (might be lower-level).
But during a pause between two experiments (with the WBI toolbox), two fingers of the left hand of iCubDarmstadt01 moved spontaneously (from completely extended to completely flexed).
This is quite awkward (and scary)...
What should I try to log next time to diagnose the possible problem?

[2015-01-15 18:44] jeljaik commented on #53
The normal behavior of the WBI-Toolbox is exactly that of leaving the robot
in the position control mode. I think you will need to provide further
information to understand if this is caused by our code or not. Nonetheless
we'll check tomorrow. Is it replicable by just trying to set torques with
the corresponding block?

On Thu, Jan 15, 2015, 18:53 Roberto Calandra <notifications@github.com>
wrote

[2015-01-15 20:22] randaz81 commented on #53
No, I think that the wholeBodyDynamics(Tree) module, which is responsible
for joint torque estimations, was terminated (or crashed, or disconnected
from the network for more than 100milliseconds) BEFORE closing the toolbox.
As indicated in the control mode specifications, all these conditions
trigger an hardware fault (in order to protect joints from a sudden jerky
movement), which can be cleared

[2015-01-15 22:42] traversaro commented on #53
For more information on the iCub control modes, please check: http://wiki.icub.org/wiki/Control_Modes

[2015-01-16 08:49] DanielePucci commented on #54
Post this issue in

https://github.com/robotology/QA/issues

[2015-01-16 08:49] #54 closed

[2015-01-18 18:41] serena-ivaldi commented on #53
just to be sure, whenever we use WBI we have to use it with wholeBodyDynamicsTree?

[2015-01-18 18:55] DanielePucci commented on #53
The WBIToolbox is, at all intents and purposes, an interface. So, you can use it as you would use the WBI. Then,  wholeBodyDynamicsTree must be up only if  modules requiring the information from it are running.

[2015-01-19 07:54] traversaro commented on #53
In a nutshell: if you need to measure/control torques (readTorques,setTorques) the wholeBodyDynamics/wholeBodyDynamicsTree should be up.

[2015-01-19 07:57] traversaro commented on #52
As far as I know, `iCubDarmstad01` is measuring the joint torques through the 6 6-axis FT sensors embedded in the iCub body. You can access this sensors directly using the /icub/deviceId/analog:o port, where deviceId is one of the following `left_arm`,`right_arm`,`left_leg`,`right_leg`, `left_foot`, `right_foot`.

[2015-01-19 12:09] traversaro opened #55 "Merging new_wbi_ID in master"
Hi everyone @robotology-playground/codyco-developers , there are exciting news regarding the WBI-Toolbox, please check https://github.com/robotology/codyco-superbuild/issues/46 .

[2015-01-19 17:09] azadm opened #56 "gains for impedance control"
The proposed gains for impedance control don't work properly in simulation. By impedance control I mean the file in ````wholeBodyImpedance```` folder. Does anyone know of better gains?
The current proposed gains are: ```` diag([[10 6 6] 2*ones(1,10) 0.5*ones(1,12)]) ````

[2015-01-19 17:49] azadm opened #57 "Error running torque balancing controllers"
This is the error that I get when I try to run ````torqueBalancing```` and ````torqueBalancingV1````:

[code]

Does anyone know where this function is called and where I can find this function?

[2015-01-19 17:56] traversaro commented on #57
@azadm are you still using the master branch (v0.1)? If you wait this night we will merge in master the new version of the WBI-Toolbox (see https://github.com/robotology-playground/WBI-Toolbox/issues/55 ). The new version features several improvements, and people will be able to help you, given that here at IIT everyone in now using the newer version.

[2015-01-20 00:06] traversaro commented on #55
The merging is now complete, please check https://github.com/robotology/codyco-superbuild/issues/46 for more informations.

[2015-01-20 00:06] #55 closed

[2015-01-20 17:40] azadm commented on #57
I updated to the new version of WBI-toolbox. It seems to me that torque balancing controllers are not compatible with the new version as I get the same error for all of them:
[code]
and
[code]

[2015-01-20 17:48] DanielePucci commented on #57
May you provide further details?

[2015-01-20 18:01] azadm commented on #57
might be a problem with the installation of wbi toolbox because I get this error
[code]
when I just want to read joint angles using joint angles block.

[2015-01-20 18:09] DanielePucci commented on #57
We kindly ask you to read the documentation on how to use the WBIToolbox at

https://github.com/robotology-playground/WBI-Toolbox/blob/dd77704262242963fd67835e63ac04c2425f1f23/README.md

In the case unclear things arise, do not hesitate to complete it or ask us further clarifications.

[2015-01-21 13:29] azadm opened #60 "yarpWholeBodyInterface does not find yarpWholeBodyInterface.ini though the variable $YARP_ROBOT_NAME is set in the bashrc"
When I run the model `$CODYCO_SUPERBUILD_DIR/main/WBIToolbox/controllers/tests/COMPoseTesting.mdl` with iCub on the Gazebo simulator I get this error in matlab:
[code]
and this in the terminal that matlab is running:
[code]
This file is in `CODYCO_SUPERBUILD_DIR/install/share/codyco/robots/icubGazeboSim` and is not empty.
I have `YARP_DATA_DIRS=${YARP_DATA_DIRS}:${CODYCO_SUPERBUILD_DIR}/install/sh

[2015-01-21 15:28] DanielePucci commented on #60
Before launching the simulation, e.g. in your init.m file of the simulink model if  you have it, type in the MATLAB command shell

setenv('YARP_ROBOT_NAME', 'icubGazeboSim');

This should work.

[2015-01-21 15:37] azadm commented on #60
Yes, that worked. Thanks @DanielePucci
Do you know of any permanent solution for that?

[2015-01-21 15:46] DanielePucci commented on #60
We still don't know any permanent solution. We are working on it.

[2015-01-21 17:41] azadm commented on #57
Thanks @DanielePucci
The earlier problem that I mentioned is due to the `baseVelocity` block.

[2015-01-21 18:09] traversaro commented on #60
Can you paste your complete `.bashrc`?  Enclose it in three tilde (~~~), as in:
[code]
This simplifies reading it.

[2015-01-21 18:13] azadm commented on #60
[code]

[2015-01-22 11:19] traversaro commented on #41
cc @francesco-romano @DanielePucci , on this topic check also https://github.com/robotology-playground/yarp-wholebodyinterface/issues/9

[2015-01-22 15:39] jeljaik commented on #60
The way you set the environmental variable `$YARP_ROBOT_NAME=icubGazeboSim` is wrong. You should change that last line into:
`export YARP_ROBOT_NAME="icubGazeboSim"`

In conclusion, there's nothing wrong with the WBI-T at this point. That's just how it works and how it's explained in the README.md. You **have** to set this environmental variable with the name of the robot you wanna use (e.g. icubG

[2015-01-22 15:39] #60 closed

[2015-01-22 17:36] DanielePucci commented on #56
Better with respect to what? Have you tried to do some tuning on your own?

[2015-01-23 10:43] DanielePucci commented on #37
We should make a CCMake test on the MATLAB version to check whether or not the file WBCLibrary.slx should be installed @francesco-romano @jeljaik

[2015-01-23 11:33] francesco-romano commented on #37
Sorry I didn't mean to close it!

[2015-01-23 15:48] azadm opened #63 "Error in holder and base velocity blocks"
This is the error that I get when I add either a `holder` or a `baseVelocity` block in my simulink file:

[code]

I am using Matlab R2013a.

[2015-01-23 15:57] azadm commented on #56
Yes I tried to tune them but it was unsuccessful. These gains actually did not work on my machine and made the robot unstable.
By the way, I haven't been able to run this controller with the new version of wbitoolbox yet. I will try to run this again once my problem with some of the blocks (`holder` and `baseVelocity`) is solved.

[2015-01-23 16:04] jeljaik commented on #48
Addressed in https://github.com/robotology-playground/WBI-Toolbox/commit/3ecd6de47a3633e27f69b9000fa154deb8f184eb

[2015-01-23 16:04] #48 closed

[2015-01-23 16:12] jeljaik commented on #52
I will  assume that after launching `wholeBodyDynamicsTree` the block for retrieving joint torques was not returning 0 anymore. Therefore I proceed to close this issue. If this is  not the case, feel free to reopen :)

[2015-01-23 16:12] #52 closed

[2015-01-23 16:14] jeljaik commented on #40
Fixed in https://github.com/robotology-playground/WBI-Toolbox/commit/8b52ca33c4a2e629a4f030197276d8903f409975

[2015-01-23 16:14] #40 closed

[2015-01-23 16:15] robertocalandra commented on #52
Sorry, I lost track of this issue. Yes, using the wholeBodyDynamicsTree solved the problem.

[2015-01-23 16:21] jeljaik commented on #51
Closing as the goal of the block is just to set joint angles, not a "collision free configuration" which is of a higher level of abstraction.

[2015-01-23 16:21] #51 closed

[2015-01-23 16:22] #12 closed

[2015-01-23 16:27] jeljaik commented on #52
:+1:

[2015-01-27 10:53] iron76 opened #65 "Avoid warning when testing the WBI-Toolbox"
The COMPoseTesting which is suggested to test the WBI-Toolbox should be generated with an older version of Simulink. I am running the following version of matlab:

[code]

and I getting this Warning (and a bunch of following others) which is annoying.
[code]

[2015-01-27 11:31] jeljaik commented on #65
Fxed in https://github.com/robotology-playground/WBI-Toolbox/commit/abf3f3daa6230ee401222f4bf6fc3a0ba800f47c

[2015-01-27 11:31] #65 closed

[2015-01-27 14:16] yoshijan opened #66 "torqueBalancingV3- error after update"
Hello everyone,
i use the WBI - Toolbox with gazebo and icub (current versions, ROBOT_DOF =25).
After the latest update i followed the new Readme instructions and got the COMPoseTesting working.

But if i want to run the torqueBalancingV3 controller i got a error message:
Error in port widths or dimensions. Output port 1 of 'balancingController_QP_twoFeet/Subsystem/Subsystem1/WBI to yarp3/WBI orde

[2015-01-27 14:28] francesco-romano commented on #66
The new wholeBodyInterface configuration file by default now uses 23 DOFs. We removed the wrist prosupination as we did not control it in torque mode.
As a solution to your problem either change the `ROBOT_DOF` variable to be 23, or change the wholeBodyInterface configuration file to include again the whole arm.

Maybe @DanielePucci can give more details about this issue.

[2015-01-27 14:56] traversaro commented on #13
Fixed with the new_wbi_ID merge.

[2015-01-27 14:56] #13 closed

[2015-01-27 15:10] jeljaik commented on #13
:cool: Thanks

[2015-01-27 16:32] jeljaik commented on #66
The main problem here was in the block `yarp to WBI` which had been wrongly set to 23 instead of `ROBOT_DOF`. This happened after recent updates in which we have decided to control 23 DOF instead of the previous 25. For this reason the variable `ROBOT_DOF` in `initBalancingController_QP_twoFeet.m` must be set to 23. Commit https://github.com/robotology-playground/WBI-Toolbox/commit/9db1ec35c58f474

[2015-01-27 16:34] jeljaik opened #67 "balancingController_QP_twoFeet does not work for ROBOT_DOF!=25"

[2015-01-27 16:35] jeljaik commented on #66
Created issue #67 to track this problem.
Closing since the WBI-Toolbox related issue has been solved.

[2015-01-27 16:37] jeljaik commented on #66
Also @yoshijan for future issues, we would like you to try our newly introduced script `create_issue.sh` https://github.com/robotology-playground/WBI-Toolbox/blob/master/create_issue.sh which you can use to fill a template issue with automatically filled info that is useful for us in the debugging process.

Thanks!

[2015-01-28 16:32] jeljaik commented on #66
Sorry @yoshijan, we realized there had been a misinterpretation of this issue. I however reverted the conflicting blocks 'yarp to WBI' and 'WBI to yarp' to how they were in the past. Pushed changes in https://github.com/robotology-playground/WBI-Toolbox/commit/9665fbdf997431b741bd757369ef674fc3382cfe and https://github.com/robotology-playground/WBI-Toolbox/commit/70678101b6bc0dc48483d962c337805fbc

[2015-01-28 16:32] #67 closed

[2015-01-28 17:59] robertocalandra opened #68 "Sending 0 torques results in non-zero torques applied."
We are having serious difficulties in commanding in torque the iCubDarmstadt01 from the wbi.
After switching on the wholeBodyDynamicsTree, if we try to send a zero torque using the set Torque block of the wbi, the icub apply a strong force forward.

I am not sure if it is because of errors in the wholeBodyDynamicsTree, because of the low-level firmware or what else.
However, it is critical for us

[2015-01-28 18:03] traversaro commented on #68
Which kind of torques are you measuring (you can read that on the robotMotorGui) at the joint at which you command a desired torques of 0 Nm?

[2015-01-28 18:04] traversaro commented on #68
However to debug the problem you can use the `demoForceControl` module, and set zero torques to a part through it, bypassing the WBI.

[2015-01-28 18:04] robertocalandra commented on #68
The wbi "read Torques" block returns torques up to 1.4Nm

[2015-01-28 18:07] robertocalandra commented on #68
True that I could use the demoForceControl to achieve zero torques. But the original purpose was to implement a PD controller for position tracking, and if the torques provided are not the ones applied, that is a major problem.

[2015-01-28 18:18] iron76 commented on #68
@robertocalandra are you setting some sort of gravity compensation? The behaviour seems compatible with zero torques at the joint and no gravity compensation.

[2015-01-28 18:21] robertocalandra commented on #68
I tried with both gravity compensation and without gravity compensation and the results are qualitatively equal.

I would however expect that even in presence of no gravity compensation the controller would still apply zero torques and therefore the torso "slowly" fall down naturally due to the gravity. This is not the case as the torso is actively pushing down.

[2015-01-28 18:28] iron76 commented on #68
What happens with the `demoForceControl` module as suggested by @traversaro?

[2015-01-28 18:30] robertocalandra commented on #68
The robot seems to behave normally for the two arms. I did not tried the torso as it is marked as experimental. Should I?

[2015-01-28 18:31] iron76 commented on #68
Yes please.

[2015-01-28 18:35] iron76 commented on #68
@robertocalandra The video you posted refers to a trial with or without gravity compensation?

[2015-01-28 19:11] robertocalandra commented on #68
@iron76 If we go into zero torque mode (from demoForceControl), the behavior is the same (strong push forward of the torso).
Same thing also if we manually switch from the robotMotorGui to torque control.
(Both were tested without gravity conmpensation)

I do not remember if the gravity compensation was activated or not in the video.

[2015-01-28 19:15] randaz81 commented on #68
could you please tell me the measured joint torques of the 3 joints of the
torso, as shown in the robotMotorGui, when the torso is in controlled in
position 0,0,0

2015-01-28 20:11 GMT+01:00 Roberto Calandra <notifications@github.com>:

[2015-01-28 19:35] iron76 commented on #68
@robertocalandra, in any case the zero torque control is definitively quite a a risky control mode and I would recommend doing tests in impedance.

[2015-01-28 19:51] randaz81 commented on #68
PS: ...not only the three torques when in 0,0,0 but also when the joints
are in the following positions:
20, 0, 0
0, 20, 0
0, 0, 20
Long time ago, the yarp wrapper was swapping the torques of two of these
joints. I just want to be sure that you are using a recent version of yarp.

2015-01-28 20:35 GMT+01:00 Francesco Nori <notifications@github.com>:

[2015-01-28 20:42] DanielePucci commented on #68
I do agree with @iron76 that the zero-torque control is quite risky, and should be avoided even for debugging. If the torso strongly pushes forward, however, there might be a problem at low level. A possible issue might be due to the coupling between the (desired) joint torques and the applied PWMs to the motors 0B3M0 and 0B3M1 (see http://wiki.icub.org/wiki/ICub_coupled_joints#Torso). Probably @r

[2015-01-29 12:18] hu-yue opened #69 "Memory allocation error with holder block"
Hi, I'm having problems with the holder block.
If I try to use it the model cannot be saved, Simulink gives a ```Memory allocation error```.
If I try to start the simulation without saving it, then  I get an ```Assertion Error``` reported by ```Stateflow```, with summary  ```object[id]!=NULL```.
This is the full output in the matlab command window when this happens:

[code]
Have you ever had a pro

[2015-01-29 12:27] francesco-romano commented on #69
It looks very similar to https://github.com/robotology-playground/WBI-Toolbox/issues/63

[2015-01-29 12:42] randaz81 commented on #68
@DanielePucci Coupling is correct. Otherwise in the video the robot should move diagonally.
@robertocalandra Waiting for the torque measurements.

[2015-01-29 13:09] robertocalandra commented on #68
@randaz81 Here there are the torque measurementes are in the robotMotorGui (using wholeBodyDynamicsTree), averaged over 5 seconds.
Reading the torques from the wbi led to the same results, but in inverted sequence.

[0,0,0] ->[0.01, -0.2 -4.4]
[20,0,0] -> [-0.19,1.34,-4.0]
[0,20,0] -> [1.7 -4.2 -4.0]
[0,0,20] => [0.1,-0.2,-8.3]

[2015-01-29 13:45] traversaro commented on #68
Could be an issue with wholeBodyDynamicsTree ? Which options are you using? You obtain similar results with the old wholeBodyDynamics?

[2015-01-29 14:00] jeljaik commented on #69
Looking into it.

[2015-01-29 14:17] francesco-romano commented on #63
I'm closing this issue because is a duplicate of  https://github.com/robotology-playground/WBI-Toolbox/issues/69 and on the other issue there is more information.

@azadm please look at #69

[2015-01-29 14:17] #63 closed

[2015-01-29 14:18] francesco-romano commented on #69
If you are using the superbuild, which version (aka: branch) are you using?
Can you check that the superbuild and all the sub projects are properly on master?
We are having hard time trying to replicate this issue.

[2015-01-29 14:20] hu-yue commented on #69
I'm still on the new_wbi_ID, I'll switch to master and try again

[2015-01-29 14:25] jeljaik commented on #69
@hu-yue `master` has recently been merged with `new_wbi_ID`, so there's no need to stay in that branch any longer. All new commits are going in `master`.

[2015-01-29 14:29] traversaro commented on #69
@hu-yue detailed instructions on how to update from `new_wbi_ID` to `master` are contained in this comment: https://github.com/robotology/codyco-superbuild/issues/46#issuecomment-70580652 .

[2015-01-29 14:29] DanielePucci commented on #69
@hu-yue try to remove the build also.

[2015-01-29 14:33] hu-yue commented on #69
Thanks guys, after switching branch the error disappeared. =)
Closing the issue.

[2015-01-29 14:35] robertocalandra commented on #68
@traversaro I cannot test it today, as the robot is being used for other experiments, I will let you know tomorrow

[2015-01-29 14:35] francesco-romano commented on #69
Let's wait for @azadm to see if the same steps solve the issue

[2015-01-29 15:13] jeljaik commented on #69
Also after you move to the `master` branch we would greatly appreciate if from now on you used the `create_issue.sh` script (Linux & Mac) to create new issues, as it serves as a template for new issues that also automatically adds information relevant to us for proper debugging.

c.c. @robotology-playground/codyco-developers

[2015-01-29 18:03] DanielePucci commented on #69
We are experiencing this problem when copying and pasting this block. This problem is quite sinister.

[2015-01-30 09:07] robertocalandra commented on #68
@traversaro These are the results using the wholeBodyDynamics:

[0,0,0] -> [0.03, -0.18, -4.3]
[20,0,0] -> [-0.13, 1.41, -4.00]
[0,20,0] -> [1.78, -4.19, -4.11]
[0,0,20] -> [0.17, -0.15, -8.33]

I would say that they are qualitatively similar.

Question: the torso skin is currently dismounted (because of a faulty connection), as shown also in the video, could that be the problem?

[2015-01-30 10:52] robertocalandra commented on #68
PS: I am using the options --headV2 --autoconnect

[2015-01-30 11:35] DanielePucci opened #70 "Weird crash"
[code]

[2015-01-30 11:58] traversaro commented on #70
Do you have any idea on how to reproduce it?
On Jan 30, 2015 12:35 PM, "Daniele" <notifications@github.com> wrote:

[2015-01-30 12:04] DanielePucci commented on #70
Nop :(

[2015-01-30 12:23] randaz81 commented on #68
I tried the following setup:

robot name: iCubGenova04, mechanics revision V1, ETH communication
software: Yarp, icub-main HEAD revisions + latest available firmware
module: WholeBodyDynamics (from icub-main), with and without gravity
compensation.
test:
1- estimated torque values match (with an acceptable tolerance) with the
torques provided by Roberto.
2- demoForceControl is able to control the

[2015-01-30 12:37] randaz81 commented on #68
Before proceeding any further, I recommended to sync your robot with our test case, with a general update of yarp, icub-main, icub-firmware-shared. This to eliminate the possibility that you are stuck to a bugged old revision of something.
Please note that updating icub-main will enforce an update the control board firmware.
If you need we can guide you remotely (>= Tuedsay 03/02/2015)

[2015-01-30 12:40] robertocalandra commented on #68
If so, yes, let's proceed with updating yarp, icub-main, etc; and yes, I would definitely like to have remote support (especially for the bontrol board firmware).
Do you have any availability *before*  03/02/2015 ?

[2015-02-02 10:51] robertocalandra commented on #68
@randaz81 Please let me know the earliest availability for remote support.

[2015-02-03 13:33] jeljaik opened #71 "Migrate all controllers to an independent repository"
The repository that will be used has already been created:
https://github.com/robotology-playground/WBI-Toolbox-controllers

Corresponding changes in the `CMakeLists` of `codyco-superbuild` will be pushed as soon as main contributors vote in: https://github.com/robotology-playground/WBI-Toolbox-controllers/issues/1

[2015-02-03 13:37] azadm commented on #69
Thanks @francesco-romano
I actually had to remove codyco-superbuild and install it again to solve this problem.

[2015-02-03 13:50] jeljaik commented on #37
Addressed in https://github.com/robotology-playground/WBI-Toolbox/commit/2a3be5e790cd5a3956df7bc64ca78a40885a4f53

[2015-02-03 13:50] #37 closed

[2015-02-03 13:55] jeljaik commented on #35
Addressed in https://github.com/robotology-playground/WBI-Toolbox/commit/8b52ca33c4a2e629a4f030197276d8903f409975

[2015-02-03 13:55] #35 closed

[2015-02-03 14:30] #69 closed

[2015-02-03 14:31] azadm opened #72 "how to change icub_fixed variable?"
How do we change the icub_fixed variable in the new version?

[2015-02-03 14:33] jeljaik commented on #70
Unless you have a way to reproduce it, I hardly see how  to debug this problem. It also may be related to some `yarp read` block. What model were you using? and please, try to use the `create_issue.sh` script next time :)

[2015-02-03 14:36] DanielePucci commented on #70
Sorry Jo. You are completely right. I was using the new version of the balancing controller that has not been pushed yet :) I think that for the time being, we may close this issue, and re-open it in the right way if it arises again. What do you think?

[2015-02-03 14:42] jeljaik commented on #72
Hi @azadm
In the new version, a configuration file for the WBI-Toolbox has been created as it can be seen in:
 https://github.com/robotology-playground/WBI-Toolbox/blob/master/libraries/wbInterface/conf/wholeBodyInterfaceToolbox/wholeBodyInterfaceToolbox.ini

This is the default configuration file of the Toolbox. In the previous version of the Toolbox (v0.1) these options were mixed in the robot-s

[2015-02-03 14:42] DanielePucci commented on #72
Hi Morteza,
in the file wholeBodyInterfaceToolbox.ini you can find the option

[code]

This file is in the following directory
codyco-superbuild/build/install/share/codyco/contexts/wholeBodyInterfaceToolbox/wholeBodyInterfaceToolbox.ini

Beware that if you change the installed file, any time you do

[code]

in the build directory of the superbuild, the file is going to be overwritten.

[2015-02-03 15:23] azadm commented on #72
Thanks @jeljaik  and @DanielePucci
The thing is that I want to have icub (feet fixed) with 25 DoF instead of the default icub (fixed) with 10 DoF.
Is there anything else that I should change? Because after changing `robot_fixed` to `false` in the file that you mentioned, I still get an error in Matlab if I define `ROBOT_DOF = 25;` and it works with `ROBOT_DOF = 10;` no matter which model I put in

[2015-02-03 17:08] jeljaik commented on #72
@azadm Can you please run the  script `create_issue.sh` in the root directory of the WBI-Toollbox from terminal and fill the issue with the description of the problem? I'm gonna close this for now since the question has been answered. For the other problem you have please fill the template issue.

[2015-02-03 17:09] #72 closed

[2015-02-03 17:20] jeljaik commented on #70
:kissing: fine for me.

[2015-02-03 17:20] #70 closed

[2015-02-03 18:10] azadm opened #73 "problem in DoF of the robot"
**Description:**
I changed robot_fixed to false in `$CODYCO_SUPERBUILD_DIR/install/share/codyco/contexts/wholeBodyInterfaceToolbox/wholeBodyInterfaceToolbox.ini` but I still get an error in Matlab if I define `ROBOT_DOF = 25` and it works with `ROBOT_DOF = 10`, no matter which model I put in Gazebo.

_____

**Further Information**:
- *System Information:* `Darwin dynamic200-113.cs.bham.ac.uk 13.4.

[2015-02-04 10:41] robertocalandra commented on #68
I can confirm that after the update the issue is still present: Using zero torque control (with gravity compensation and wholebodydynamics modules running) causes a fast bending of the torso forward.

Additionally after updating yarp and icub-main
1) whoelBodydynamics is not running anymore and return the following error:
`symbol lookup error: /home/icub/software/src/yarp/build/lib/libYARP_dev.so.

[2015-02-04 10:54] traversaro commented on #68
Have you updated (or at least recompiled) codyco-superbuild after updating
yarp and icub-main ? Given that this is research software, we are not
preserving ABI (http://en.wikipedia.org/wiki/Application_binary_interface)
between different commits.

On Wed, Feb 4, 2015 at 11:41 AM, Roberto Calandra <notifications@github.com>
wrote:

[2015-02-04 11:36] robertocalandra commented on #68
Yes, of course I did recompile the codyco-superbuild.

[2015-02-04 11:45] traversaro commented on #68
Mhh then it is possible that there are two different versions of YARP floating in the system... perhaps the codyco-superbuild is building an incompatible version of YARP?
Can you paste the content of codyco-superbuild `CMakeCache.txt`?

[2015-02-04 12:50] robertocalandra commented on #68
[code]

[2015-02-04 13:46] traversaro commented on #68
Ok, my hypothes is wrong. Just to clarify:
 * YARP binaries work.
 * codyco-superbuild binaries (such as WBI-Toolbox) don't work.
 * icub-main binaries are working? you mention that wholeBodyDynamics is failing, but you also mention running it for the test?

In any case, it can be useful to debug to paste the output of ldd /path/to/wholeBodyDynamics and ldd /path/to/yarpserver , just to understand

[2015-02-04 13:50] robertocalandra commented on #68
Sorry there was a typo in the previous post:
wholeBodyDynamics is working
wholeBodyDynamicsTree is not working

[2015-02-04 13:52] traversaro commented on #68
Ok, then `ldd /path/to/wholeBodyDynamics` versus `ldd /path/to/wholeBodyDynamicsTree` would be definitely helpful.

[2015-02-04 14:41] robertocalandra commented on #68
It seems that there are two wholeBodyDynamicsTree. is it normal?

[code]

[code]
[code]

[2015-02-04 17:29] traversaro commented on #68
Yes, it make sense that there are two wholeBodyDynamicsTree: the superbuild automatically installs all its subproject in the build/install directory, so you will find the same binary in the build directory and in the install directory.

However this output highlighted the problem: the binaries of the codyco-superbuild are using the YARP libraries from `/home/icub/software/lib`, that I guess are ou

[2015-02-05 08:48] jeljaik commented on #73
Thanks @azadm Are you using an existing Simulink model? If so, which one?
Also, when launching Matlab from terminal, can you paste all the info displayed in the terminal? From those starting with `||`

[2015-02-05 11:19] azadm commented on #73
No. I am just trying to read the joint angles. So the model that I am using consists of two blocks which are the `Joint Angles` and `Display` blocks. I have `iCub (feet fixed)` in Gazebo.
I define these parameters in matlab:
[code]
Here is the error that I get from matlab:
[code]
and this is what I see in the terminal:
[code]

[2015-02-05 12:13] jeljaik commented on #71
@robotology-playground/codyco-developers all Simulink models and controllers have been moved to https://github.com/robotology-playground/WBI-Toolbox-controllers and removed from WBI-Toolbox. In order to get them you need to update codyco-superbuild to the most recent version, configure it with CMake activating the flag `CODYCO_USES_WBI_TOOLBOX_CONTROLLERS` and building the whole thing as usual. Af

[2015-02-05 12:13] #71 closed

[2015-02-05 13:30] jeljaik commented on #73
Ok, @azadm  Once more, I need the full log please ... I should see stuff like this in these messages.

[code]

[2015-02-05 13:39] azadm commented on #73
I know @jeljaik but that was all I get in the matlab terminal.
The lines you mentioned with `|||` appear when I define `ROBOT_DOF = 10;` which are:
[code]

[2015-02-05 13:41] jeljaik commented on #73
By Terminal I mean the Ubuntu/Linux Terminal :) ... Matlab's is called `Command Window` but this is exactly what I want. Let me take a look.

[2015-02-05 13:49] azadm commented on #73
Yes, I know. My answer is still the same. I DO NOT get these lines in the TERMINAL when I define `ROBOT_DOF = 25;`. The one before the last is all I get in the TERMINAL that Matlab is running and the above lines appear in the TERMINAL when I define `ROBOT_DOF = 10;`.

[2015-02-05 13:51] jeljaik commented on #73
oh ok ok, that means that you have updated to the latest version of the Toolbox. When you first compiled the issue we saw you were in a different revision, that's why I thought you were getting confused with the terminal :) In any case, can you post also the content of:
`robotStatus::robotConfig >> wbiConfFileFullPath is: /Users/azadm/Documents/codyco-superbuild/build/install/share/codyco/robots/i

[2015-02-05 13:54] azadm commented on #73
Sure.
[code]

[2015-02-05 14:10] jeljaik commented on #73
I see the problem @azadm
The line `ROBOT_TORQUE_CONTROL_JOINTS = (ROBOT_LEFT_ARM_JOINTS, ROBOT_RIGHT_ARM_JOINTS)` should have more links included. Having only the left arm and right arm gives you 10 DOF. Four days ago it was wrongly modified in our lab. Sorry for the inconvenience. We just realized now with your issue. Thanks!

I have updated the configuration file of the `yarpWholeBodyInterface`

[2015-02-05 14:23] DanielePucci commented on #73
Deeply sorry @azadm: unlucky copy and paste. It was fault!

[2015-02-05 15:18] jeljaik commented on #73
Please let us know if this solves your issue

[2015-02-05 16:07] azadm commented on #73
Thanks @jeljaik  and @DanielePucci .
Now I get
[code]
in the terminal. Is there anything else that needs to be changed or I am doing something wrong?
Now my `yarpWholeBodyInterface.ini` looks like this:
[code]

[2015-02-05 16:16] DanielePucci commented on #73
Mmmm, that's fishy. Can you copy-and-paste the output of the terminal (as you did before)?

[2015-02-05 16:19] azadm commented on #73
[code]

[2015-02-05 16:23] DanielePucci commented on #73
Ok, now please post the following two files:

[2015-02-05 16:24] DanielePucci commented on #73
Anyway, this is the problem

[code]

[2015-02-05 16:32] azadm commented on #73
I already posted the second file and here is the first file:
[code]

[2015-02-05 16:48] jeljaik commented on #73
Please do again

[code]

There was yet another wrongly introduced error.

[2015-02-05 16:49] DanielePucci commented on #73
We are working on it. Almost done.

[2015-02-05 16:57] jeljaik commented on #73
For me it's working fine now @azadm. Can you confirm it's the same for you?

[2015-02-05 17:01] azadm commented on #73
Yes. It is working fine now. Thank you @jeljaik  and @DanielePucci

[2015-02-05 17:02] DanielePucci commented on #73
You are welcome.

[2015-02-05 17:03] #73 closed

[2015-02-05 17:23] azadm commented on #57
Now I am using the new version of WBI and the error is still there.
When I try to run `torqueBalancing` and `torqueBalancingV1` I get this error:
[code]

The model is looking for `initSharedMem` as asked in the model callbacks but it can not find it.

[2015-02-05 21:05] DanielePucci commented on #38
Any solution for providing a clear error message? @jeljaik @francesco-romano  I think that for non-expert users, it's not easy to recognize the dimension mismatch between the length of the wbi-toolbox and the variable ROBOT_DOF

[2015-02-05 21:39] DanielePucci commented on #57
I don't know if you noticed that we have moved all controllers in a new repository:

https://github.com/robotology-playground/WBI-Toolbox-controllers

Here you'll find new versions of the controllers. For instance, only two balancing controllers are present. Notice that these controllers have ROBOT_DOF = 23 because we seldom use the pronosupination DOFs in torque mode. So, to use them, you have ju

[2015-02-05 21:49] DanielePucci commented on #66
See https://github.com/robotology-playground/WBI-Toolbox/issues/57#issuecomment-73134333

[2015-02-05 21:49] #66 closed

[2015-02-05 21:51] DanielePucci commented on #57
So, I'll close this issue since it's better to post WBI-controllers related issues in its associated repository.

[2015-02-05 21:52] #57 closed

[2015-02-05 21:54] DanielePucci commented on #56
Try again and open this issue in
https://github.com/robotology-playground/WBI-Toolbox-controllers
if problems still arise.

[2015-02-05 21:55] #56 closed

[2015-02-05 21:56] DanielePucci commented on #33
See
https://github.com/robotology-playground/WBI-Toolbox/issues/57#issuecomment-73134333

[2015-02-05 21:57] #33 closed

[2015-02-06 11:05] #47 closed

[2015-02-06 11:35] jeljaik commented on #2
Closing as solution has been  described above and no feedback was ever given.

[2015-02-06 11:35] #2 closed

[2015-02-06 11:36] jeljaik commented on #5
Closing as this will be done in the new repository specific to the controllers developed with the Toolbox i.e. https://github.com/robotology-playground/WBI-Toolbox-controllers

[2015-02-06 11:36] #5 closed

[2015-02-06 11:37] jeljaik commented on #11
Any update on this @traversaro? Can I maybe help somehow?

[2015-02-06 11:39] jeljaik commented on #32
Closing as the main source of the problem was solved.

[2015-02-06 11:39] #32 closed

[2015-02-06 11:41] jeljaik commented on #41
It isn't completely clear to me if this issue was solved at the yarp-wholeBodyInterface level. I remember @traversaro saying that in v0.2 once it's set future calls for the same control mode are ignored. Am I correct here?

[2015-02-06 12:32] traversaro commented on #41
Yes, that is the behaviour that I have implemented to solve this issue but I really don't like it, but solving this is low priority I guess.

[2015-02-06 13:17] jeljaik opened #74 "test issue"
this is a test. Please ignore.

[2015-02-06 13:17] #74 closed

[2015-02-06 14:52] jeljaik commented on #71
@robotology-playground/codyco-developers The documentation was correspondingly updated in https://github.com/robotology-playground/WBI-Toolbox#existing-models.

[2015-02-09 19:26] robertocalandra commented on #68
The issue is still open after completely reinstalling the codyco-superbuild from scratch.
After activating wholeBodyDynamics, gravity compensation and switching to zero torque mode, there is still a drift of the torso. This time the torso is not moving forward but rotating to the side (with a torque sufficently high that a single person cannot stop it). A video is available at: https://www.dropbox

[2015-02-10 07:49] iron76 commented on #68
Once more, pure torque control is a nonsense without perfect modelling (which is i.m.h.o. a chimera). It's even worse considering that you are debugging. @robertocalandra can you please do impedance control instead? Just to be more clear. Control mode should be ```Torque Control``` but choose torques as proportional to the difference between current and desired position.

[2015-02-10 14:30] rueckert opened #75 "After clean build all skin ports send constants i.e., 240"
Hi,

I hope someone can help us. After a clean reinstallation of codyco-superbuild (discussed in Issue #68) a few days ago, the skin ports all send constants, e.g., via yarp read /localPortToRead /icub/skin/left_arm only constants of 240.0 are transmitted.

Another problem due to the reinstallation is that the executeable iKinCartesianSolver is missing.  According to the instructions [1], one has

[2015-02-10 14:38] jeljaik commented on #75
Hi Elmar,

Can you please create this issue with the `./create_issue.sh`  script? which you find in the root directory of the `WBI-Toolbox`? That will give us additional information about your installation. However, please bear in mind that the kind of problem you're talking about it unrelated to the `WBI-Toolbox`. But if you file this issue as I just mentioned before we might tell you exactly whe

[2015-02-10 15:09] rueckert opened #76 "After clean build all skin ports send constants"
**Description:**
Dear Jorhabib,

Thank you for your swift replay. Sorry for opening a second issue on the same topic (the previous one was Issue #75). I had to learn about that script first.

After a clean build (to solve an issue related to the zero torque mode in the demoForceControl, discussed in Issue #68) I have two open problems:

First, the raw data stream from the skin ports transmit const

[2015-02-10 15:22] jeljaik commented on #75
Recreated in with further information: https://github.com/robotology-playground/WBI-Toolbox/issues/75

[2015-02-10 15:22] #75 closed

[2015-02-10 15:24] jeljaik commented on #11
c.c. @rbonghi This is the issue I was telling you about. We have to wait for @traversaro to fix/add this in the yarp-WholeBodyInterface.

[2015-02-10 16:57] jeljaik commented on #76
@traversaro any word on this? I can see he installed yarp (and possibly also icub) through the superbuild which doesn't  make me want to relocate the issue just yet as an icub-main one.

[2015-02-10 17:33] iron76 commented on #76
@traversaro correct me if I am wrong but compile tests install both YARP and iCub with the distribution described here: http://wiki.icub.org/wiki/Linux:Installation_from_binaries. Moreover, iKinCartesianSolver is not compiled by default and requires a suitable cmake flag. @rueckert are you compiling on your local laptop or in the iCub-pc104? In any case I would recommend the installation of YARP a

[2015-02-10 17:47] traversaro commented on #76
As mentioned before, the installation instructions (https://github.com/robotology/codyco-superbuild#system-dependencies-2) recommend to get YARP&iCub using the standard documentation exactly for this kind of reasons.

However I just added the flags necessary to compile the cartesian controller in the `BuildICUB.cmake` file ( see commit https://github.com/robotology/codyco-superbuild/commit/04fab61

[2015-02-10 18:01] jeljaik commented on #76
That being said @rueckert, you can opt for one of the following two options:
1. Deleting your `$CODYCO_SUPERBUILD_DIR` directory (the build directory only) and make sure you install `iCub` and `YARP` first as pointed out in the previous comments. Then, please make sure all the steps on the installation of the software, namely, `codyco-superbuild` have been thoroughly followed and build again the s

[2015-02-12 14:52] rueckert commented on #76
Hi,

thank you for your suggestions. We now did a reinstallation as suggested and compiled icub-main and yarp from source, and thereafter installed codyco-superbuild. Everything went fine, despite that the cmake paths (ICUB_DIR & YARP_DIR) are not correctly propagated to the subprojects (see Issue #24 in the codyco-superbuild build). Our workaround was to set these env. variables first.

Regarding

[2015-02-12 17:03] serena-ivaldi commented on #76
HI Elmar,
regarding the environment variables do you still have the file bashrc_icub?

An old versione was like written here (http://www.ausy.tu-darmstadt.de/Research/IcubInstallationSoftware)

 echo "Exporting iCub environment variables from specific file.."
 export ICUB_INSTALL_PREFIX=/home/icub/software
 export YARP_ROOT=$ICUB_INSTALL_PREFIX/src/yarp
 export YARP_DIR=$YARP_ROOT/build
 export YA

[2015-02-12 17:23] traversaro commented on #11
Sorry guys, at the moment is a bit difficult to find the time to implement this, unless is a top priority.
However if someone wants to tackle this issue, the necessary steps are to mplement a new estimate in yarpWholeBodyState, namely `ESTIMATE_EXTERNAL_FORCE_TORQUE`. The necessary information are already published in the `contacts:o` port of wholeBodyDynamicsTree, it is just necessary to parse th

[2015-02-12 17:25] rueckert commented on #76
Hi,

with help from marco, we found out that whenever we update icub-main our hardware/skin ... .xml files get replaced by wrong versions for the iCubGenova .

Roberto managed to fix the skinSpecs file for the left arm "partially". Now the left_arm and the left_forarm are working. Not the hand, nor the complete right arm and the legs.

Is there a copy of the correct files for our robot?
We should

[2015-02-12 17:33] rueckert commented on #76
Actually, if I take a look at the files on the git, they seem to be ok (https://github.com/robotology/icub-main/commit/b66bbb76f3a4da1c999932049e2f36262338167e). Maybe I am missing some important details here.

@serena-ivaldi Thank you for the bash_rc content but our env. variables are ok. We can run all applications despite the skinGui.

[2015-02-12 17:46] serena-ivaldi commented on #76
I have some copies of files... myabe I can find the xml files!
Can you give me the path and where they are located? @rueckert

[2015-02-12 17:46] paraschos commented on #76
Hi guys,

taking a look on the CMakeLists under

./app/robots/iCubDarmstadt01/CMakeLists.txt

it says that it copies the conf file with the macro

yarp_install()

which I believe it is only invoked with

make install

Since at the documentation of "Compilation_on_the_pc104" explicitly says that
we should not do make install (or then we should change some of the env vars)
the files are not copied.

[2015-02-13 09:05] traversaro commented on #76
Hi Alex,
  * `yarp_install` macro is also copying file in the build directory, see https://github.com/robotology/yarp/blob/master/conf/YarpInstallationHelpers.cmake#L268 .
  * You can find the ResourceFinder search policy in http://wiki.icub.org/yarpdoc/resource_finder_spec.html . It will then find the configuration files copied in the build directory if `YARP_DATA_DIRS` is correctly configured. M

[2015-02-13 09:29] randaz81 commented on #76
icub-main has been updated with new configuration files for iCubDarmstadt01. Since a new yarp version has been released in the meanwhile, you need to:
-yarp
git pull + make on pc104 and console(s)
-icub-firmware-shared
git pull + make on pc104 only
-icub-main
git pull + make on pc104 and console(s)
-firmware update of all board (EMS, skin, 2FOC)

[2015-02-13 10:22] rueckert commented on #76
Hi,

@randaz81 thank you for the git update. Would you have time today to do the firmware update with us once more together. We will update all our computers such that only the firmware update of all boards has to be done.

Thank you very much, Elmar

[2015-02-13 17:57] rbonghi opened #77 "Error obtaining robot end effector wrenches"
**Description:**
I would like to use the simulink blocks: `Left leg EE Wrench` and `Right leg EE Wrench`, but I have this error when I start simulation. I does not received error in build:
[code]

I have configured the `wholeBodyInterfaceToolbox.ini` with:
[code]

_____

**Further Information**:
- *System Information:* `Darwin MacBook-Pro-di-Raffaello.local 14.1.0 Darwin Kernel Version 14.1.0: Mon

[2015-02-13 17:59] jeljaik commented on #77
As I already explained in https://github.com/robotology-playground/WBI-Toolbox/issues/11 and personally to you :) this in an  upcoming feature.

[2015-02-13 18:04] rbonghi commented on #77
Yes, but I understood that the problem was only for left and right arm. I'm sorry! :)

[2015-02-13 18:04] #77 closed

[2015-02-13 18:09] jeljaik commented on #77
Oh no, the problem is with the estimation of end effector wrench. It's a parametric function on the desired link.

[2015-02-13 18:12] jeljaik commented on #77
I don't know exactly what you want to do, but for the feet you can use the yarp read block to read the sensors at the ankles and do the proper transformation to project it to the end-effector. I believe you have everything you need in the Toolbox

[2015-02-19 15:07] #53 closed

[2015-02-19 15:13] robertocalandra opened #78 "Error starting v0.2"
Trying to run code from the WBI v0.1 on v0.2 (on a fresh installation) I get the error:
`[ERR] yarpWholeBodyActuators::openDrivers error: unable to open controlboard torsoof robot iCubDarmstadt01`
I defined `ROBOT_DOF = 25`, manually added CODYCO_SUPERBUILD_DIR, and made sure that `wholeBodyInterfaceToolbox.ini` exists for iCubDarmstadt01
Did I forgot something? Could you help me to solve it?

Bel

[2015-02-19 16:28] francesco-romano commented on #78
Hi @robertocalandra
I was hoping to find some C++ examples to do some low level test, but unfortunately they move the robot so it is not "safe" to launch it.

When the error occur can you try to do a `yarp name list` in a terminal and post here the result? Does the robotMotorGui correctly work?
I assume you are working with the real robot, aren't you?

[2015-02-19 16:33] robertocalandra commented on #78
Hi @francesco-romano,

Yes, I am working with the real robot.
and Yes, the robotMotorGui work correctly.
I will post the results of `yarp name list` as soon as the robot is free (it is currently busy with other experiments)

Thank you

[2015-02-19 18:37] traversaro commented on #78
Which configuration file for the yarpWholeBodyInterface are you using?  I guess there is a `robot` parameter that should be setted to `icub` while it is setted to `iCubHeidelberg01`.

[2015-02-19 18:49] traversaro commented on #78
Long explanation: unfortunatly there is a name clash between the `YARP_ROBOT_NAME` concept (a unique name for each robot, such as `iCubHeidelberg01` , see http://wiki.icub.org/yarpdoc/yarp_data_dirs.html ) and the `robot` option, that as a convention for iCub software usually mean the string that prefixs all port created by the robot (as in `icub` in `/icub/right_leg/state:o`, see http://wiki.icub

[2015-02-19 18:53] robertocalandra commented on #78
I think that I am using the `yarpWholeBodyInterface` of iCubDarmstadt01. How can I check it?
But in practice then should I change the name of the `robot` used in the simulation? or change it somewhere else?

[2015-02-19 18:56] traversaro commented on #78
The file loaded by `yarpWholeBodyInterface` is this one, from the output of WBI-Toolbox:
[code]

[2015-02-19 18:59] jeljaik commented on #78
Hello @robertocalandra, your configuration file has the wrong robot name set to `iCubDarmstadt01`. Since you  are using the real platform, this should be `icub` as explained in:
https://github.com/robotology-playground/WBI-Toolbox#notes-on-configuration-files

Can you share with us the content of the file @traversaro just mentioned?

[2015-02-19 19:03] traversaro commented on #78
Can you post it?

As far as I get it, for now we consider the real robots and the simulated robots as two different robots, with different `YARP_ROBOT_NAME`s (`iCubDarmstad01` and `icubGazeboSim`) and two different `robot` parameters (`icub` and `icubGazeboSim`).

Said that, a desirable long term goal is having a proper simulation model for each real robot. For more info on this, see: https://gith

[2015-02-20 10:57] DanielePucci opened #79 "Base velocity block"
We should create a block for estimating the base velocity that uses the appropriate method in the yarpWholeBodyInterface (see https://github.com/robotology/codyco-modules/issues/58#issuecomment-75013178).

[2015-02-21 09:07] robertocalandra commented on #78
I changed `robot` in `wholeBodyInterfaceToolbox` to icub, but i still ge the same error.
This is the content of the two files you asked:

wholeBodyInterfaceToolbox.ini
[code]

yarpWholeBodyInterface.ini
[code]

[2015-02-21 09:23] robertocalandra commented on #78
Ok, I find the problem.
By changing within matlab `robotName` to `icub` made the trick.
However, in the documentation it is written that within matlab `robotName` should be the name of the robot (e.g., iCubDarmstadt01).
Perhaps it is still old documentation?

[2015-02-21 09:23] #78 closed

[2015-02-21 09:33] DanielePucci commented on #78
Yes Roberto. Thank you very much.

[2015-03-02 15:56] rlober opened #80 "superbuild compile error from eigen 3.2 dependencies"
Hey,

So I tried to compile superbuild with:

[code]

When I go to compile I get errors related to Eigen Ref not being found, but the cmake flag should prevent Eigen 3.2 dependent functionality from being built. The output is below:

[code]

[2015-03-02 16:17] traversaro commented on #80
Can you try the branch `fixEigen305`? It should fix this issue.

[2015-03-03 08:21] francesco-romano opened #82 "Robot position variables are always required to be a 16-dim vector + robot DoFs"
All the blocks which require a position input have dimension 16 + DoFs.
The 16 dim is the Frame object associated with the base.

I think we should move to use quaternion + displacement (then dim = 7) instead of specifying the whole matrix (which in my opinion does not make any sense because it is not a free matrix. There are constraints on the values we can put into it)

cc @DanielePucci @travers

[2015-03-03 08:25] naveenoid commented on #82
Popping in because of a prior discussion with @traversaro. I personally
prefer rotation matrix as it leaves a simple typecast to a Frame object
available to the end user. Even a quaternion is not a free R^4 vector, it
is constrained. However quaternion has an issue that its not obvious unless
someone looks up documentation if its a axis-angle or a quaternion. Even
then, there are 2 quaternion conv

[2015-03-03 10:45] DanielePucci commented on #82
I prefer the element of SE(3) as input. What do you think of separating the orientation-translation of the base from the joint positions? In this case, we may take as input a 3x4 matrix (i.e. [R,t]) and an nth dimensional vector (i.e. qj).

[2015-03-03 11:08] traversaro commented on #11
All stakeholders interested in this feature (cc @rbonghi @DanielePucci ) can provide a description of what they would expect from this block (considering frame of expression issues and other technicalities)?
P.s. consider also this : https://github.com/robotology/codyco-modules/issues/39

[2015-03-03 13:14] DanielePucci commented on #11
So, as you mentioned in robotology/codyco-modules#39, the method

get(ESTIMATE_EXTERNAL_FORCE_TORQUE, fake_link)

should return the force/torque expressed w.r.t. the fake_link, that is, point = origin of the fake_link, orientation = orientation of the fake_link. In the case "fake_link" is a "real link", the method should return the force/torque expressed w.r.t. it. What do you think @traversaro ?

[2015-03-03 13:46] traversaro commented on #11
So do you like the `ESTIMATE_EXTERNAL_FORCE_TORQUE` to return the force oriented as the local frame? Take into account that this could be an inconsistency with the velocity estimates and their jacobians , that are expressed with the orientation of the world frame and with the point of the "fake_link" frame.

[2015-03-03 14:00] DanielePucci commented on #11
No sorry, I confused fake_frame with a sort of additional frame. I think that the method  should be something like

 get(ESTIMATE_EXTERNAL_FORCE_TORQUE, frame)

and then it returns the force/torque expressed w.r.t. "frame". Probably, in most control applications, the orientation of this frame is going to be kept equal to that of the world frame, thus being consistent with velocities.

[2015-03-04 08:13] traversaro commented on #11
Sorry, how the `get(ESTIMATE_EXTERNAL_FORCE_TORQUE, frame)` is able to get the link of which you want the external wrench?

[2015-03-04 10:34] francesco-romano commented on #11
`get(ESTIMATE_EXTERNAL_FORCE_TORQUE, linkID, frame)` returns the wrench on link `linkID` w.r.t. frame specified in `frame`. Optionally If `frame` is null it returns the wrench w.r.t the link frame.

?

[2015-03-04 10:39] jeljaik commented on #11
Sorry guys I can start working on this just tomorrow... you know why.

[2015-03-04 11:25] traversaro commented on #11
@francesco-romano  The `getEstimate` signature is fixed in the `wholeBodyStates`, and it just accepts one numeric index. We can certainly change it, but it would adding a new non generic method to the `wholeBodyStates` interface. On the short term I would prefer to have something working with the existing interface.

[2015-03-04 11:32] francesco-romano commented on #11
@traversaro from the simulink point of view:
We can get the estimate of the wrench in the link reference frame and the frame transformation from the link frame to the required (user input) frame and apply it to get the final result

[2015-03-04 11:45] traversaro commented on #11
+1 .

Actually the frame of expression is quite prone to misunderstanding: when you mean *wrench* expressed in a frame (for example the world frame) you refer to both the *point of expression* and the *orientation*. For now (for example the jacobians and the velocities estimates) we are assuming (and the user can't change this, for now, at least at the WBI/WBI-Toolbox level) that the *point of exp

[2015-03-30 08:07] francesco-romano opened #83 "[Yarp Read] Add support for optional autoconnect"
We need to extend the behaviour of `yarpRead` block.
Currently the name of the port specified is the port to which the block will connect.
We should link this behaviour (together with the temp port support) only to an `autoconnect` option (checkbox).
In case the user does not set the behaviour to be `autoconnect`, the block should only create the port.
This will ensure the compatibility with the u

[2015-03-30 08:23] jeljaik commented on #83
I'll fix this. I already had to do some pending improvements.

On Mon, Mar 30, 2015, 10:07 Francesco Romano <notifications@github.com>
wrote:

[2015-03-30 08:40] iron76 commented on #83
:+1: thanks a million @jeljaik

[2015-03-30 13:36] jeljaik commented on #83
I have addressed this issue by adding a checkbox called `Autoconnect`. When checked, the user can't specify the destination source, but only the source and size of its output. When unchecked, the user can type the name of the destination port. Upon entering this data, the block will simply create the destination port and it's up to the user to connect the two ports via terminal as `yarp connect [s

[2015-03-30 13:44] iron76 commented on #83
:+1:

[2015-03-30 16:05] jeljaik commented on #83
# Notes
1. When unchecking `Autoconnect` make sure that the now-hidden field `From` is filled with some string, e.g. `'...'`, otherwise you get the error `"Cannot retrieve string from parameter 1!!`. This behavior will be nevertheless improved.
2. Matlab will crash if you activate the `Autoconnect` option  while specifying the name of a port that you don't want to connect just yet.

[2015-03-30 17:02] jeljaik opened #84 "Use FindMatlab.cmake from CMake 3.0.2"

[2015-03-31 08:04] DanielePucci commented on #83
Hi Jorh,
well done. I think, however, that it could be useful to add an additional output to this block, which informs the user that the port is actually connected. For instance, if the port is disconnected, we receive zeros, but the user does not know if these zeros are actually sent by a sender. Can we add a binary output that acknowledges the connection?

[2015-03-31 08:27] francesco-romano commented on #83
@DanielePucci in which of the two cases (or both) you want this output?

[2015-03-31 08:37] jeljaik opened #85 "World To Base Rototranslation from yarpWholeBodyInterface"

[2015-03-31 08:39] DanielePucci commented on #83
Both cases? If the autoconnect flag is active, then the binary output can be always true.

[2015-03-31 08:54] iron76 commented on #83
I think the additional output is just a temporary workaround (an I am not really sure necessary right now). The real solution would be to have a visual output (certain Simulink blocks can change their icon) when data are available on the port.

[2015-03-31 08:56] traversaro commented on #83
@iron76 an additional "real" value can be really useful to deal with data still not available on that port (for example: don't start the controller until data is available).

[2015-03-31 08:57] traversaro commented on #83
@DanielePucci it is possible that the port never received anything even if you use the "autoconnect" option.

[2015-03-31 09:40] iron76 commented on #83
@traversaro there is an issue here related to the fact that Simulink always assume that data are available while YARP does not. I think any solution would be a workaround. In any case I don't really like the additional output solution. I am tempted by using NaN.

[2015-03-31 09:44] DanielePucci commented on #83
NaN would be fine for me. The main point is to distinguish data sent by someone from fake data. I agree with @traversaro, however, that in some cases it would be useful to have an additional output, which may help develop a diagnostics logic in the controller.

[2015-03-31 09:44] jeljaik commented on #83
In "Simulink language", missing data should be represented by NaN. This could definitely be done in conjunction with a change in the color of the block ... although, since the blocks are all colored I'd rather go for a particular icon for this block.

[2015-03-31 09:45] jeljaik commented on #83
In this case, as @traversaro mentioned, a connected port that does not stream data would also be clearly visible in the model.

[2015-03-31 09:53] francesco-romano commented on #83
to be honest I'm a bit scared about the use of `NaN`s

[2015-03-31 10:21] iron76 commented on #83
I am more scared about using conventions which might difficult to interpret, such as using an additional binary output. Of course we can document things to allow users retrieving the correct meaning of things.

[2015-03-31 10:31] DanielePucci commented on #83
I agree with the general principle. In this specific case, however, I think that it would be more misleading to have NaNs than outputs like "connection" and "readFailure". In the @iron76 direction, we might stream NaNs if either connection = 0, or readFailure=1. In this case, the conventions should be clear enough.

[2015-04-04 13:51] iron76 opened #87 "Error when using the block: wholeBodyModel/Jacobians/Link Jacobian"
The installation seems to work fine in general but the block wholeBodyModel/Jacobians/Link Jacobian is giving me the following error:
[code]

[2015-04-04 13:54] iron76 opened #88 "Error when using the block: wholeBodyModel/Jacobians/Link Jacobian"
**Description:**
The installation seems to work fine in general but the block wholeBodyModel/Jacobians/Link Jacobian is giving me the following error:

[code]

---

**Further Information**:
- _System Information:_ `Darwin Francescos-MacBook-Pro.local 14.1.0 Darwin Kernel Version 14.1.0: Thu Feb 26 19:26:47 PST 2015; root:xnu-2782.10.73~1/RELEASE_X86_64 x86_64`
- _Working branch:_ `master`
- _Curre

[2015-04-04 13:54] #87 closed

[2015-04-04 14:02] DanielePucci commented on #87
What is the value of ROBOT_DOF you set in the MATLAB workspace?

[2015-04-04 14:06] DanielePucci commented on #88
This problem seems to be due to a dimension mismatch between ROBOT_DOF - a matlab variable that you should set in your workspace - with the length of the list associated to the WBI. The main point is that we still do not provide clear information when these sizes do not match (see #38 ). Anyway, further information can be found at https://github.com/robotology-playground/WBI-Toolbox

[2015-04-04 14:35] jeljaik commented on #88
This happens as @DanielePucci has pointed out when the variable `ROBOT_DOF` is defined to something different from the DOF of the corresponding list that you have defined for the current robot. To  debug do the following:

1. Check the configuration file of the WBI-Toolbox in `$CODYCO_SUPERBUILD_DIR/install/codyco/contexts/wholeBodyInterfaceToolbox` It should read something like this by default.
[

[2015-04-04 14:37] jeljaik commented on #84
Done in  https://github.com/robotology-playground/WBI-Toolbox/commit/2d998d7ae0f086b0a657f68ded8986cfb77f5079

[2015-04-04 14:37] #84 closed

[2015-04-07 17:07] francesco-romano opened #89 "[yarp Read] If launched with wrong network configuration all subsequent launches will fail"
Restart of matlab solved the problem

[2015-04-08 12:03] #89 closed

[2015-04-08 12:04] francesco-romano commented on #83
@jeljaik your issues here: https://github.com/robotology-playground/WBI-Toolbox/issues/83#issuecomment-87736511 should have been fixed now.
Can you check it?

[2015-04-08 14:20] nunoguedelha commented on #83
@francesco-romano  regarding the issue https://github.com/robotology-playground/WBI-Toolbox/issues/83#issuecomment-87736511 =>(1), and the symmetric issue:

* When unchecking Autoconnect make sure that the now-hidden field From is filled with some string, e.g. '...', otherwise you get the error "Cannot retrieve string from parameter 1!!
* When checking Autoconnect make sure that the now-hidden fie

[2015-04-09 14:59] nunoguedelha commented on #83
I'm still seeing this issue:
* When unchecking Autoconnect make sure that the now-hidden field *From* is filled with some string, e.g. '...', otherwise you get the error "Cannot retrieve string from parameter 1!!

[2015-04-09 15:37] francesco-romano commented on #83
I've just test it and it works.. but I was in the `fix/yarpRead` branch. Can you test that you get the same behaviour there?
Just to understand if it was a merge issue.

[2015-04-09 16:25] nunoguedelha commented on #83
Well, I did a git diff between your branch and the master branch and there are no diffs.

[2015-04-09 16:37] francesco-romano commented on #83
This is good then :)

But how did you test that?

[2015-04-09 16:39] DanielePucci commented on #83
Can we make a simple model-test?

[2015-04-09 16:51] nunoguedelha commented on #83
I tested with a very basic model that just uses the default yarpRead block. I checked that the "to" field is filled with the default "..." if it is masked (after I check "Autoconnect" and click OK).
That doesn't happen with the "from" field (if I uncheck "Autoconnect" instead).
Looking at the code `WBCLibrary.mdl` I actually see the line missing (as far as I can understand)...

[2015-04-09 16:52] nunoguedelha commented on #83
Don't loose your time with this, I'll make a quick check...

[2015-04-09 17:23] nunoguedelha commented on #83
Works fine now. I just pushed the branch "fix/yarpRead_default_from_field" for you to review?

[2015-04-10 07:00] francesco-romano commented on #83
@nunoguedelha the `from` field is unused if don't set the `autoconnect` flag. This is way we don't care about it. Further more, leaving the name the user set will allow a faster switch between `autoconnect` values.

To explain better this is the "terminal" behaviour we want to replicate in the `yRead` block:
[code]
So if `autoconnect` is on we want to replicate the first behaviour: we want the use

[2015-04-10 08:02] nunoguedelha commented on #83
Yes, you're absolutely right.

So we do agree that the cleanest behaviour of the yard Read bock would be not to check the `from` field or try to create a source port at all when the `autoconnect` flag is set. But currently, it is doing this check, right? Do you get the same error as I do?

[2015-04-10 08:37] francesco-romano commented on #83
@nunoguedelha yes ok. I never thought about leaving completely empty the field.
I think I will edit the C++ anyway. I have to add another feature to the yRead port, so i put you in stand-by :smile:
I will ping you again when I finish adding the feature.

[2015-04-10 09:36] nunoguedelha commented on #83
ok thanks :wink:

[2015-04-10 14:44] francesco-romano commented on #83
@nunoguedelha  I completely change the yarp read.
I added a new yarp read block.
I don't know if you want to test it, for us is low priority.

[2015-04-10 17:08] nunoguedelha commented on #83
I'll test it this week end if I have some time.

[2015-04-11 11:03] francesco-romano commented on #85
- https://github.com/robotology-playground/WBI-Toolbox/commit/24a4f340ec68a8535c235f8d1ea11856ebcc014e added position and velocity base estimation block
- https://github.com/robotology-playground/WBI-Toolbox/commit/2c6514fc46180d460385ca8c8c538363e00a1917 now enforced consistent behaviour for position and velocity: they are computed both from the wbi method

cc: @traversaro  @DanielePucci

[2015-04-13 09:00] jeljaik commented on #88
@iron76 Can we close this? :)

[2015-04-13 09:01] jeljaik commented on #85
:+1:

[2015-05-01 16:43] azadm opened #93 "Centroidal Momentum Matrix (CMM)"
I am wondering if it is possible to add a block that calculates the CMM?

[2015-05-01 18:09] traversaro commented on #93
I guess the block is already there... @DanielePucci can provide more informations.

[2015-05-01 20:33] DanielePucci commented on #93
Yes, we have it :-)

[2015-05-01 20:34] DanielePucci commented on #93
Hold on, what do you precisely mean by Centroidal Momentum Matrix?

[2015-05-01 20:50] traversaro commented on #93
The CMM is the  "Jacobian" of the centroidal momentum.

[2015-05-01 20:53] azadm commented on #93
Yes. According to Orin, by CMM I mean the matrix that maps the generalized velocities to the momentum about the centre of mass.

[2015-05-01 21:22] DanielePucci commented on #93
Ok guys, then I do not remember and I should verify it. Probably it is not implemented since we do not use it in our balancing  controllers. I think that @jeljaik can provide you with additional information for the time being.

[2015-05-05 11:57] #80 closed

[2015-05-07 16:05] azadm commented on #93
Does `getCentroidalMomentumJacobian` function in `DynTree.cpp` have anything to do with the CMM? @traversaro

[2015-05-07 16:06] traversaro commented on #93
Yes the `getCentroidalMomentumJacobian` return the CMM.

[2015-05-07 16:12] azadm commented on #93
Good. So it is part of iDynTree but not yarpWholeBodyModel...

[2015-05-08 07:05] traversaro commented on #93
Yes. The wholeBodyInterface/WBI-Toolbox was always meant to be a rather simplified interface exposing basic functions available on all humanoid robots.

However we are now working on Matlab bindings using SWIG [1] to automatically expose iDynTree classes as Matlab classes.

We have some simply prototype working, for example in https://github.com/robotology-playground/idyntree/blob/master/doc/geome

[2015-05-08 15:47] azadm opened #94 "problem with yRead block"
**Description:**
I get an error in Simulink after the last update today:
[code]
and this is the error in Matlab command window:
[code]
and this is a part of message in the terminal that Matlab is running which I think is related to the problem:
[code]

_____

**Further Information**:
- *System Information:* `Darwin dynamic200-113.cs.bham.ac.uk 13.4.0 Darwin Kernel Version 13.4.0: Wed Mar 18 16:20:

[2015-05-11 12:03] rlober opened #95 "Trouble installing"
Hey guys,

I am having trouble getting the WBIToolbox installed in Matlab. I am able to run the `startup_wbitoolbox.m` script successfully, I restart matlab from shell with simply `matlab` and I don't see the WBIToolbox anywhere in the simulink library. Just FYI I am using Ubuntu 12.04 and Matlab R2014b.

Also I noticed something in the `README`:

`CODYCO_SUPERBUILD_DIR` should be `CODYCO_SUPERBUI

[2015-05-11 15:07] jeljaik commented on #95
@rlober Can you please first reopen this issue using the script `create_issue.sh`?  (as described in https://github.com/robotology-playground/WBI-Toolbox/blob/master/CONTRIBUTING.md#notes-on-issues) It will provide us with some further information to better debug this issue. Nevertheless, regarding the environmental variables described in `README.md`, named `CODYCO_SUPERBUILD_ROOT` and `CODYCO_SUP

[2015-05-11 15:21] jeljaik commented on #95
Also assuming that you have properly compiled  and installed `WBIToolbox` from `codyco-superbuild`, **launching Matlab from terminal and not seeing the Toolbox in the Simulink Toolbox Browser** means that Matlab has been launched outside the default `~/Documents/MATLAB` home directory. As explained in this section https://github.com/robotology-playground/WBI-Toolbox#working-from-the-build-tree, th

[2015-05-12 08:49] rlober commented on #95
Hey @jeljaik

So first off, thank you very much for the detailed response. I will just go ahead and say that as soon as I launched matlab from `~/Documents/MATLAB/` everything worked as you thought it would so big :+1:! You may consider making this point clearer in the readme.

I don't have a problem with using `CODYCO_SUPERBUILD_ROOT` and `CODYCO_SUPERBUILD_DIR` in the readme - I understood what

[2015-05-12 08:49] #95 closed

[2015-05-12 09:17] francesco-romano commented on #95
Hi @rlober
You are right! I never noticed that `startup.m` is executed every time, but `pathdef` not!
Sometimes I wonder what the guys in mathwork do....
My solution was to create an alias to matlab in bash:
[code]
also because in OS X there is not matlab bash script in the PATH, and the alias trick is useful in every case.

We could add the following in the `startup.m` (or in the doc) (pseudo-cod

[2015-05-12 11:04] rlober commented on #95
Hey @francesco-romano

Yeah I figure there is no "one size fits all" solution to this problem but it isn't too tricky to deal with, and the instructions are pretty clear.

[2015-05-21 11:25] DanielePucci opened #96 "Add autoconnect to yarpwrite block"
I think that an autoconnect option also in the yarp write block may be useful. In this case, we should specify the receiving port. Are't I right? @francesco-romano @jeljaik

[2015-05-27 14:57] DanielePucci opened #97 "[WBI-Toolbox] Possibility of setting a world-to-base roto-translation"
As far as I am concerned, the world-to-base rototranslation passed to all blocks through "q" is not taken into account, and it is handled at lower levels from specific configurations. Should we modify all blocks so that this rototranslation is actually used? @jeljaik @francesco-romano @traversaro

[2015-05-27 18:46] francesco-romano commented on #97
There is a preliminary modification into a branch (I don't remember the name, but I pushed into it 2 days ago)

The problem is that without major changes (imho) it is not possible to set the transformation.
(The modifications are: moving xBase to a static object.  But at this point  does it make sense to maintain the full 16+n input to the blocks?)

In the branch I added a new block. If the block

[2015-06-03 10:22] jeljaik commented on #97
Done in https://github.com/robotology-playground/WBI-Toolbox/commit/67ddcf863fbb7aef339ec54d6285187a9f13114b

[2015-06-03 10:22] #97 closed

[2015-06-24 12:14] iron76 opened #99 "wrong installation with non-conventional build directory name"
On macOS I am installing the WBI-Toolbox with the codyco-superbuild. I slightly changed the installation procedure, by creating the cmake-build directory `CODYCO_SUPERBUILD_ROOT/buildX` instead of the conventional `CODYCO_SUPERBUILD_ROOT/build`. After successful compilation, opening matlab results in a bunch of the following errors:

Everything works by modifying the cake-build directory to the co

[2015-07-06 08:40] francesco-romano commented on #99
Did you launched again the `startup_toolbox.m` (or something like that) script after you compiled in the new build?

[2015-07-20 17:07] drdanz opened #100 "Move repository to robotology"
As discussed with @traversaro, this repository should be moved to [robotology](https://github.com/robotology)

cc-issue: robotology/robotology.github.io#2

[2015-07-27 08:16] francesco-romano opened #102 "Remove robot_fixed option"
We should remove the robot_fixed option and rely only on the worldToFrame parameter.
But first we should finish the models migration: https://github.com/robotology/codyco-modules/issues/58

[2015-10-07 04:31] iron76 commented on #87
It was indeed wrong and not matching the supplied URDF.

[2015-11-03 15:18] DanielePucci opened #105 "Crash on Mac OsX"
_____

**Further Information**:
- *System Information:* `Darwin Danieles-MacBook-Pro.local 15.0.0 Darwin Kernel Version 15.0.0: Sat Sep 19 15:53:46 PDT 2015; root:xnu-3247.10.11~1/RELEASE_X86_64 x86_64`
- *Working branch:* `master`
- *Current commit:* `3f838aa9da5952171419b61e1be41ed90d22cf22`
- *YARP ROOT:* `/Users/DanielePucci/src/yarp`
- *ICUB_ROOT:* `/Users/DanielePucci/src/icub-main`
- *YARP_

[2015-11-03 15:20] francesco-romano commented on #105
How many times happened?

In the stack trace I cannot see any reference to our code

[2015-11-03 15:39] DanielePucci commented on #105
All the time..

[2015-11-03 15:47] francesco-romano commented on #105
Check if there are any strange strings somewhere..

[2015-11-04 16:23] francesco-romano commented on #105
The issue seems related to the presence of a `To Workspace` block.

@DanielePucci is investigating

[2015-11-04 17:04] DanielePucci commented on #105
"I had a dog and his name was, bingo!" [1]

So, it is the simulink block `To Workspace`. Simulink crashes also if a `Scope` dumps data to the workspace.

I contacted `MATLAB` support, and they are aware of this bug.

[1]: https://www.youtube.com/watch?v=Ks7cJIIqCHY&t=1m20s

[2015-11-04 17:27] jeljaik commented on #105
Bummer!

--

*Jorhabib Eljaik Gómez,**Ph.D. Student - *Istituto Italiano di Tecnologia
Dept. of Robotics, Brain and Cognitive Sciences
Cognitive Humanoids Laboratory
e-mail: jorhabib.eljaik@iit.it
Cel: +39 388 352 33 85
Tel: +39 010 71781 420
Fax: +39 010 7170817

On Wed, Nov 4, 2015 at 6:04 PM, Daniele <notifications@github.com> wrote:

[2015-11-04 17:29] traversaro commented on #105
So you have been actually contacted by a `technical support engineer`! Amazing!

[2015-11-04 18:30] DanielePucci commented on #105
Yep!

[2015-11-05 13:59] DanielePucci commented on #105
I've news from the MathWorks support. Apparently, on MAC OsX, the block `ToWorkspace` makes Simulink crash when the `username` is longer than ten characters. They have also provided Mac users with a patch, which can be found here:

http://www.mathworks.com/support/bugreports/1295437

I've tested it, and it works.

@francesco-romano @iron76 @nunoguedelha @vtikha @jeljaik @traversaro @claudia-lat

[2015-11-05 13:59] #105 closed

[2015-11-09 10:31] DanielePucci opened #106 "All blocks should take the state as input"
Some of the blocks are still internally evaluating the state, such as jacobians and forward kinematics. They should take the state as input.

@jeljaik

[2015-11-09 17:36] jeljaik opened #107 "[MAC OS X] mex -setup does not find compilter or sdk on MacOsX10.10.11"
Not really our problem but just wanted to point out the solution in case someone gets in trouble:

This is the error message
[code]

Solution hinted [here](http://www.mathworks.com/matlabcentral/answers/243868-mex-can-t-find-compiler-after-xcode-7-update-r2015b)

[2015-11-09 17:36] #107 closed

[2015-11-10 10:37] jeljaik opened #108 "Keyboard and Mouse Actions on Simulink (Mac OS)"
For anyone wondering about shortcuts on Mac Os (e.g. @DanielePucci)

Full table [here](http://it.mathworks.com/help/simulink/ug/summary-of-mouse-and-keyboard-actions.html?refresh=true)

<img width="467" alt="screen shot 2015-11-10 at 11 24 52 am" src="https://cloud.githubusercontent.com/assets/5030039/11060021/b81df532-879d-11e5-8f2a-f10187e07972.png">

[2015-11-10 10:37] #108 closed

[2015-11-10 11:11] DanielePucci commented on #108
:+1:

[2015-11-10 15:28] jeljaik opened #109 "LinkFwdKin block unable to read urdf"
... as soon as it's placed in the model.

<img width="418" alt="screen shot 2015-11-10 at 4 27 23 pm" src="https://cloud.githubusercontent.com/assets/5030039/11066322/043aede2-87c8-11e5-87d3-37687b7cf80b.png">

[2015-11-10 15:46] jeljaik commented on #109
# Problem Description
[this](https://github.com/robotology-playground/WBI-Toolbox/blob/8281f276e9f212ebaf892223fe1d59bad58eba2d/share/tools/parseLinksNamesFromURDF.m#L4) line of code is causing the problem, meaning that the native `xmlread` for some reason now fails and is no backward-compatible with previous versions of Maltab.

[2015-11-11 12:33] jeljaik commented on #109
Two things must be taken into account when using these parametric blocks:
1. Variables `$YARP_ROBOT_NAME` and `$CODYCO_SUPERBUILD_DIR` **must** be defined in Matlab's workspace if it is not launched from terminal.
2. Before placing any of these blocks the model must be initialized so that the environmental variables are also loaded in Simulink.

[2015-11-11 12:36] jeljaik commented on #106
Done for the parametric forward kinematics block. Please test and give me some feedback. For the amount of time it would require to have an additional port in this block to read the world to base roto-translation, I have left it as it was for other blocks, i.e. first sixteen elements correspond to the roto-translation matrix and the rest to the robot configuration. Please test it @DanielePucci.

[2015-11-11 15:24] jeljaik commented on #106
Changed in https://github.com/robotology-playground/WBI-Toolbox/commit/bb0d8aa2c3c0214706bc5c50aa1f1779760dc98c

[2015-11-11 15:24] jeljaik commented on #109
Fixed in https://github.com/robotology-playground/WBI-Toolbox/commit/bc6e72f021ba45e866a3204692374f1a7a34a9ff

[2015-11-11 15:24] #109 closed

[2015-11-14 08:55] francesco-romano commented on #94
Any news on this?
If this still apply, please open reopen the issue.

[2015-11-14 08:55] #94 closed

[2015-11-14 08:56] francesco-romano commented on #83
Given the new yarp read has been quite stable during the last 6 months of work, I think we can close this issue.

[2015-11-14 08:56] #83 closed

[2015-11-18 14:48] DanielePucci opened #110 "Set base pose block: initialisation issues"
Extreme attention must be paid when using the `Set base pose` block. If it is not run as first block - by defining accurately the blocks' priorities -  at the first iteration users may have problems in evaluating quantities that depend on the base root-translation. If the model represents a control action, a workaround is to use the `enable` block on the output signal, and wait a little amount of

[2015-11-18 15:11] jeljaik commented on #110
I will then update this in the documentation of the block.

[2015-11-18 15:21] traversaro commented on #110
I don't understand. The robot position (as part of the robot state) is not taken in input to all the blocks, as in https://github.com/robotology-playground/WBI-Toolbox/issues/106 ?

[2015-11-20 08:47] DanielePucci commented on #110
Not all of them. This is being addressed only recently, and we still have blocks that automatically retrieve the robot position unfortunately. That's why back in June, I and @francesco-romano decided to implement the ~Set base block~ as a workaround.

[2016-01-05 16:05] azadm commented on #11
any update on this? This block seems to be necessary for dealing with compliant contacts.

[2016-01-05 16:33] azadm commented on #77
Hi @jeljaik,
Can you explain (or is there any document that explains) how to use yarp read to read sensors at the ankles?

[2016-01-05 16:44] traversaro commented on #11
Hi @azadm , reading the estimate of the external wrench is definitely important at the moment.
I will provide you with an estimate on when this will be ready Thursday (tomorrow is holiday here in Italy).

[2016-01-12 08:55] misaki43 opened #111 "Error: CTRL_DEG2RAD was not declared in this scope"
Hi !
I am in the step: Installing the WBI-Toolbox>>Installation.
I wrote: "~/codyco-superbuild/build/main/WBIToolbox$ make" that is supposed to allow the "startup_wbitoolbox.m" file to found correctly directories.
But during the "make", an error appeared:

/home/user/codyco-superbuild/main/WBIToolbox/libraries/wbInterface/src/wbInterface.cpp:1464:68: error: ‘CTRL_DEG2RAD’ was not declared in this

[2016-01-12 09:02] traversaro commented on #111
Hi @misaki43 ,
  that is a problem related to a change introduced in the `icub-main` repository (see https://github.com/robotology/QA/issues/81#issuecomment-164758967 if you are interested in the background ).
It has been fixed in a recent commit ( https://github.com/robotology-playground/WBI-Toolbox/commit/ffbe08c521d56c02a0c4194a6fa9f5a671909794 ) so it should be sufficient to just update the re

[2016-01-12 09:24] misaki43 commented on #111
Indeed, the problem disappear.
Sorry, I didn't find this comment and I don't have the pull-reflex (but now i will do it).
Thanks !

[2016-01-12 09:24] #111 closed

[2016-01-12 09:26] traversaro commented on #111
Don't worry, in general users are not expected to read everything goes on in the repo. : )
Updating as soon as you get a problem to see if it the problem has been fixed in the latest version is nevertheless a good habit.

[2016-01-12 10:30] misaki43 opened #112 "Need help to understand "Using the Toolbox""
Hi,
I don't understand what you explain in this part, can you help me?

1.

I don't really understand: Need I to install "yarpWholeBodyInterface" or did you just inform us that we need to change de flag IF we need to install it? (In doubt, I installed it).

I don't really understand this part too, but I tried to follow these instructions. The problem is I don't find this "Simulation" tab. I think

[2016-01-12 11:13] traversaro commented on #112
sdadas

a. I added export YARP_ROBOT_NAME="icubGazeboSim" in bashrc
b. I launched yarpserver, then gazebo. I did: insert>Icub.
Then, i don't find where I can create a model (where is simulation )?
To be honest I even don't know what it is but I thought I will see it directly by test.

Just to clarify: `Simulation > Configuration Parameters > Solver` is the path of an option in the Simulink menu, n

[2016-01-13 10:13] misaki43 commented on #112
Ok thanks,  but I have still a lot of problem, I think I miss a tutorial about this toolbox because I don't understand how it works. For example:

1) I tried to launch the torquebalancing module (following https://github.com/robotology/codyco-modules/blob/master/src/modules/torqueBalancing/README.md) but it didn't works. I did:

gazebo (where I added icub feet fixed)
yarpmotorgui --from homePoseBa

[2016-01-13 11:55] traversaro commented on #112
It is also perfectly possible that the documentation is not appropriately describing some aspects of the software. : )
Please consider that this is far from being professional-level software, as it is **research** software written and **documented** by PhD students. We are happy to improve the quality of the software as much as possible, but expecting all the software to be fully documented as it

[2016-01-13 14:14] misaki43 commented on #112
Yes I know that, but I'm really lost so I think I have missed something. I just finished to install all stuffs (codyco-superbuild/iCub-main/yarp/WBI_toolbox) and now I'm lost. I read some YARP and launched some tests using yarpmanager but now, I don't know what are next steps to understand all about iCub softwares. My goal is to be able to launch a controller like "torqueBalancing".

I don't think

[2016-01-14 14:10] misaki43 commented on #112
Hi!
Did you have some trouble to find me on Skype? I have done a little progress. When I launched "yarpserver"/"gazebo" (+added iCub fixed) and then:

It didn't find the “.ini”, so I had to modify it with:

Since, in the tutorial, we only have to do “ --from nameFile.ini”, I suppose I have a problem with path definition?
It may be linked with this error: in codyco-superbuild, when I do the “ccmake

[2016-01-14 16:40] traversaro commented on #112
Sorry, today was a rather busy day. : )

Are you sure that the `YARP_DATA_DIRS` environmental variable is including also the directories related to the codyco software (as in https://github.com/robotology/codyco-superbuild#configure-your-environment-2)?

No, this is normal.. it means that the superbuild did not find the project in the computer and will download and build it itself. It definitely n

[2016-01-14 16:41] traversaro commented on #112
@misaki43 sorry I have accidentally deleted you comment... : ( anyway my reply was saved.

[2016-01-14 16:44] traversaro commented on #112
@misaki43 comment restored : )

[2016-01-15 08:42] misaki43 commented on #112
Yes, that was the problem: because of a previous problem, I have commented the line "export YARP_DATA_DIRS=$YARP_DATA_DIRS:$CODYCO_SUPERBUILD_ROOT/build/install/share/codyco" and forgot to uncomment it after.

In general, I strongly suggest you to understand what Simulink is with some simple examples before trying to understand a complex model like a balancing controller for a 23-DOFs humanoid. :

[2016-01-20 15:54] misaki43 commented on #112
My problem is maybe linked to https://github.com/robotology-playground/WBI-Toolbox-controllers/issues/13 because before warnings I can read

generated with a newer  version (8.6) of
Simulink

[2016-01-20 16:00] traversaro commented on #112
Ok, then we will wait on @DanielePucci  feedback.

[2016-01-21 09:51] DanielePucci commented on #112
Exported to MATLAB201b. The tests I performed were ok. Let us know.

[2016-01-26 17:39] misaki43 commented on #112
Hi ! So now, it is working ! I have read some Simulink tutorial (even though I am still a beginner) and I have read the "simulink code". Thanks to them, I approximately understand how the controller works (even though functions like "controller FCN" are still too hard for me to understand).

I just have a few final questions:

1. In the function "Read desired_x_dx_ddx_CoM", we can directly give so

[2016-06-14 15:19] francesco-romano commented on #95
cc @S-Dafarra

[2016-11-10 10:26] francesco-romano commented on #100
I would probably move this to https://github.com/robotology-legacy as soon as the porting of some tools is finished

[2017-11-09 08:21] francesco-romano commented on #95
@diegoferigo see [this comment](https://github.com/robotology-playground/WBI-Toolbox/issues/95#issuecomment-101206650)

[2017-11-09 08:35] #100 closed

[2018-04-04 14:55] fiorisi opened #113 "Read the PWM"
If possible we would like to read the PWM for selected joints using the toolbox.

cc @traversaro @vibhoraggarwal

[2018-04-04 15:27] fiorisi opened #114 "Add warning if this repository is deprecated"

[2018-04-04 15:28] fiorisi commented on #113
Closing because this is the wrong repository.

[2018-04-04 15:28] #113 closed, assigned to nobody

[2018-08-14 13:20] diegoferigo commented on #114
@traversaro Should we move this repo to https://github.com/robotology-legacy?

[2018-08-15 11:04] traversaro commented on #114
I think it makes sense.

[2018-09-06 06:45] diegoferigo commented on #114
@traversaro I don't have the rights for this operation. Do you have them?

[2018-09-06 07:25] traversaro commented on #114
I gave you permissions.

[2021-04-28 20:43] DanielePucci commented on #88
Probably yes. Closing :-) @jeljaik @iron76

[2021-04-28 20:43] #88 closed

[2021-10-21 12:49] traversaro commented on #114
Done in https://github.com/robotology-playground/WBI-Toolbox/commit/6d5b5f7867e29611e6fe2ae0307b683c0054ce56 .

[2021-10-21 12:49] #114 closed, assigned to nobody